
<ion-tabs>
  <ion-tab-bar slot="bottom" class="footer-tab">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Menu</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="announcements">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gallery">
      <ion-icon name="images"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>

    <ion-tab-button  (click)="goToItenerary()">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Itenerary</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="message-list">
        <div [hidden]="inbox_hide" > <ion-badge class="pulse" color="danger">{{inbox_count}}</ion-badge></div>
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
