
<ion-tabs >
  <ion-tab-bar slot="bottom" class="footer-tab" *ngIf=!forRsvp>
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Menu</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="announcements">
      <div [hidden]="notif_hide" > <ion-badge class="pulse" color="danger">{{notif_count}}</ion-badge></div>
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Announcements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gallery">
      <ion-icon name="images"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToItinerary()">
      <ion-icon name="list-box" color="{{onItinerary?'dark':'medium'}}"></ion-icon>
      <ion-label color="{{onItinerary?'dark':'medium'}}"> Itinerary </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="message-list">
      <div [hidden]="inbox_hide" > <ion-badge class="pulse" color="danger">{{inbox_count}}</ion-badge></div>
      <ion-icon name="chatboxes" color="{{onChat?'dark':'medium'}}"></ion-icon>
      <ion-label color="{{onChat?'dark':'medium'}}"> Chat </ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
