
.icon-footer{
    ion-icon{
        font-size: 30px;
    }
  }
ion-card{
    height :100% !important;
}
.close-button{
    font-size: 30px;
}
.pincher {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
   
}
.blocker{
    width: 100% !important;  
    height: 100% !important;     
}
.single-count-image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
ion-content{
    --background : transparent
}
ion-modal{
    --background : transparent
}

.img-on-zoom{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}