
<ion-header no-border>
    <ion-toolbar >
      <ion-buttons slot="end">
          <ion-icon color="primary"  name="close-circle" class="close-button" (click)="closeModal()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
  
    <div class="pincher" >           
     <!-- Block parent element -->
      <div class="blocker">
          <pinch-zoom class="pincher"  backgroundColor=white>
            <img src="{{image_post.url}}"class="img-on-zoom">
          </pinch-zoom>
      </div>                                                      
    </div>
  
</ion-content>
<ion-footer [hidden]="hideFooter" *ngIf=!hideFooter>
    <ion-item class="icon-footer" lines="none">                                                                                            
        <ion-label slot="start" style=" margin-bottom:15px">
            <!-- {{post.uploaded_by}} -->
            {{image_post.user.first_name}} {{image_post.user.last_name}} 
            <p>{{ image_post.date_uploaded | date:'short' }}</p>
          </ion-label>    
        <ion-icon name="trash" *ngIf="image_post.uploaded_by===current_user&&!hideDelete||isAdmin" color="danger" (click)="actions.DeleteConfirm(image_post,'image')" slot="end" style=" margin-bottom:15px" ></ion-icon>
        <ion-icon src="../../../../assets/images/icon.svg" class="download-icons" (click)="actions.downloadToPhone(image_post)" color="dark"  slot="end" style=" margin-bottom:15px"></ion-icon>  
        <ion-icon name="share-alt" (click)="actions.generalPostShare(image_post)" color="dark" slot="end" style=" margin-bottom:15px"></ion-icon>  
          
        <!-- <ion-icon name="logo-facebook" (click)="actions.DirectSharingButton(image_post,'fb')" color="medium" slot="end" style="margin-left: 4px; margin-bottom:15px"></ion-icon>                            
        <ion-icon name="logo-instagram" (click)="actions.DirectSharingButton(image_post,'insta')" color="medium" slot="end" style=" margin-bottom:15px"></ion-icon>    
        <ion-icon name="logo-whatsapp" (click)="actions.DirectSharingButton(image_post,'whats')" color="medium" slot="end" style=" margin-bottom:15px"></ion-icon>  
        <ion-icon name="logo-twitter" (click)="actions.DirectSharingButton(image_post,'twitter')" color="medium" slot="end" style=" margin-bottom:15px"></ion-icon>      -->
    </ion-item> 
</ion-footer>
<ion-footer *ngIf=sentPhoto>
    <ion-item class="icon-footer" lines="none">          
        <ion-icon src="../../../../assets/images/icon.svg" class="download-icons" (click)="actions.downloadToPhone(image_post)" color="dark" slot="end" style=" margin-bottom:15px"></ion-icon>  
        <ion-icon name="share-alt" (click)="actions.generalPostShare(image_post)" color="dark" slot="end" style=" margin-bottom:15px"></ion-icon>  
        <!-- <ion-icon name="logo-facebook" (click)="actions.DirectSharingButton(image_post,'fb')" color="medium" slot="end" style="margin-left: 4px; margin-bottom:15px"></ion-icon>                            
        <ion-icon name="logo-instagram" (click)="actions.DirectSharingButton(image_post,'insta')" color="medium" slot="end" style=" margin-bottom:15px"></ion-icon>    
        <ion-icon name="logo-whatsapp" (click)="actions.DirectSharingButton(image_post,'whats')" color="medium" slot="end" style=" margin-bottom:15px"></ion-icon>  
        <ion-icon name="logo-twitter" (click)="actions.DirectSharingButton(image_post,'twitter')" color="medium" slot="end" style=" margin-bottom:15px"></ion-icon>      -->
    </ion-item> 
</ion-footer>
