.img-container{
    height: 40vh;
    width: 100%;
    // -o-object-fit: cover;
    // object-fit: cover;
}
.map_button{
  opacity: 0
}
.europe{
  position: absolute;
  top: 8vh;
  left: 2vw;
}
.africa{
  position: absolute;
  left: 6vw;
  bottom: 55vh;
}
.asia{
  position: absolute;
  left: 32vw;
  bottom: 65vh;
}

.n_america{ 
  position: absolute;
  right: 13vw;
  top: 12vh;
}
.s_america{ 
  position: absolute;
  right: 4vw;
  bottom: 55vh;
}
.australia{
  position: absolute;
  left: 41vw;
  bottom: 55vh;
}