.img-container{
    height: 40vh;
    width: 100%;
    object-fit: contain;
    // -o-object-fit: cover;
    // object-fit: cover;
}
.map_button{
  opacity: 1
}
.europe{
  position: absolute;
  top: 12vh;
  left: 1vw;
}
.africa{
  position: absolute;
  left: 6vw;
  bottom: 65vh;
}
.asia{
  position: absolute;
  left: 33vw;
  bottom: 69vh;
  height: 3vh;
  width: 2vw;
}
.ph{
  position: absolute;
  left: 35vw;
  bottom: 72vh;
  height: 3vh;
  width: 2vw;
}
.n_america{ 
  position: absolute;
  right: 13vw;
  top: 12vh;
}
.s_america{ 
  position: absolute;
  right: 4vw;
  bottom: 62vh;
}
.australia{
  position: absolute;
  left: 43vw;
  bottom: 62vh;
  height: 6vh;
}