.img-container{
    height: 40vh;
    width: 100%;
    object-fit: contain;
    // -o-object-fit: cover;
    // object-fit: cover;
}
.map_button{
  opacity: 0;
  
}
.europe{
  position: absolute;
  top: 6vh;
  left: 1vw;
  height: 12vh;
}
.africa{
  position: absolute;
  left: 6vw;
  bottom: 61vh;
  height: 11vh;

}
.asia{
  position: absolute;
  left: 31vw;
  bottom: 65vh;
  height: 6vh;
  width: 2vw;
}
.ph{
  position: absolute;
  left: 39vw;
  bottom: 68vh;
  height: 6vh;
  width: 6vw;
}
.n_america{ 
  position: absolute;
  right: 13vw;
  top: 12vh;
}
.s_america{ 
  position: absolute;
  right: 4vw;
  bottom: 62vh;
}
.australia{
  position: absolute;
  left: 43vw;
  bottom: 62vh;
  height: 6vh;
}