<ion-header>
  <ion-toolbar>
    <ion-title>R.S.V.P Response History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <div *ngFor="let notif of (this.announcementServices.RsvpNotif | sort :'desc':'createdAt' )">
        <ion-item (click)="notif.status==='unread'?updateNotif(notif):'unreadNotif'" [class]="notif.status==='read'?'readNotif':'unreadNotif'">
          <ion-label>
            <h2>{{notif.guest }}</h2>
            <p>Changed status to</p>
            <p>by {{notif.createdAt | date:'h:mm a MM/dd/yyyy' }}</p>
          </ion-label>
          <h2 slot="end" *ngIf="notif.focus==='will attend'; else notAttending">        
              <ion-badge color="success">Will Attend</ion-badge>                          
          </h2>         
                                 
          <ng-template #notAttending>
            <h2 slot="end">
              <ion-badge color="danger">Will Not Attend</ion-badge>                             
            </h2>            
          </ng-template>
        </ion-item>
      </div>
    </ion-list>
</ion-content>
