
  <ion-header translucent>
      <ion-toolbar>
        <ion-title>Group Form</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  <ion-content fullscreen>
      <form [formGroup]="GroupForm" (ngSubmit)="addGroup(GroupForm)">
      <ion-list>           
            <ion-item>
                <ion-label position="stacked">Group ID</ion-label>
                <ion-input formControlName="group_id" [readonly]="SavingModal" value={{group_details.id}}></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Group Name</ion-label>
                <ion-input formControlName="group_name" value={{group_details.group_name}}></ion-input>
            </ion-item>                    
            <ion-item>
              <ion-label>Guests</ion-label>
              <ionic-selectable
                [ngModelOptions]="{standalone: true}"
                item-content
                [(ngModel)]="group_array"
                itemValueField="uid"
                itemTextField="first_name"
                [items]="guests_array"
                [canSearch]="true"
                [isMultiple]="true"
                (onChange)="membersChange($event)">            
              </ionic-selectable>
            </ion-item>
                  
      </ion-list>
      <div [hidden]="SavingModal">
          <ion-button expand="full" type="submit" [disabled]="GroupForm.invalid || (group_array.length === 0)">Create Group</ion-button>
      </div>
      <div [hidden]="EditingModal">
          <ion-button expand="full" type="submit" [disabled]="GroupForm.invalid || (group_array.length === 0)">Save Changes</ion-button>
      </div>
    
    </form>   
  </ion-content>