<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246177144815-3p9kc43hkcakue544bmiouddocvbvrof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246177144815-3p9kc43hkcakue544bmiouddocvbvrof</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>246177144815-6qkdvtd8jjl64dkdi0h59l5vgj088f0f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgk7UcNyyNwSrBwggG2cbsV4rd-qPinO4</string>
	<key>GCM_SENDER_ID</key>
	<string>246177144815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psg.wedvite</string>
	<key>PROJECT_ID</key>
	<string>sampleproject-79081</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleproject-79081.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246177144815:ios:84972fe19c8ccab17ea01a</string>
	<key>DATABASE_URL</key>
	<string>https://sampleproject-79081.firebaseio.com</string>
</dict>
</plist>