.img-container{
    height: 30vh;
    width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    box-shadow: 0 4px 16px rgba(0,0,0,.12);
}
ion-card-header{

}
ion-card-content{
    padding-top:0px
}
.card-info{
    ion-card-header{
        padding-bottom: 0px !important
    }
    ion-card-content{
        font-size:14px
       //  padding-top: 0px !important

    }
 }
 .details-card{
   font-size: 14px;
   ion-text{
    margin-right: 0px;
   }
 }
 .qtowns{
    font-size:18px
 }
 .qtown-image{
    height: 30vh;
    width:auto;
    object-fit: cover
 }