<ion-header>
  <ion-toolbar>
      <ion-buttons  slot="start">
          <ion-button  class="pre-wedding-menu-button" color="dark" (click)="this.homeMenu.openModal()">
              <ion-icon name="menu"></ion-icon>
          </ion-button>
          <ion-badge (click)="sharedComps.openMenu()" *ngIf="this.annServe.RsvpNotifCount>=1" slot="start" class="pulse pulse-on-button" color="danger">{{this.annServe.RsvpNotifCount}}</ion-badge>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Wedding Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Heads Up!</ion-card-title>
        <img src="../../assets/images/weather_heads_up.jpg"  class="img-container" />
      </ion-card-header>
      <ion-card-content class="ion-text-left">
      <h2 class="ion-text-justify"><b>Around town</b></h2>
        August in New Zealand is the peak of winter with temperature in Queenstown ranging from a high of 10 degrees Celsius (50F) 
        to a low of 0 degrees Celsius (32F). Because of its lakeside position Queenstown
        can get quite windy so we do recommend thermals, warm and wind-proof jackets (such as puffers, long coats, etc), beanies and gloves. 
      <br><br>
      <h2 class="ion-text-justify"><b>For the wedding</b></h2>
      <b>Attire:</b> Formal <br>
      <b>Gentlemen:</b> Suits, tuxedos or formal sports coat (with tie) and slacks <br>
      <b>Ladies:</b> Long gowns (no color restrictions) <br><br>
      <b>Tip: don’t forget to bring something to keep you warm as the ceremony will take place outdoors.</b>
      </ion-card-content>
    </ion-card>
</ion-content>
