.img-container{
    // height: auto;
    height: 50vh;
    width: 100vw;

    padding-top:10px;
    padding-bottom:0px
}
.around-town{

    height: auto;
 
}
.recom-text{
    font-size: 19px;
}
.notes{
    font-size:15px
}
.titles{
    font-size: 17px;
}
.image-content{

    padding-top: 10px  !important
}

    ion-card-header{
        padding-bottom: 0px !important
    }
    ion-card-content{
        padding-top: 0px 
    }
