<ion-header>
  <ion-toolbar>
      <ion-buttons  slot="start">
          <ion-button  class="pre-wedding-menu-button" color="dark" (click)="this.homeMenu.openModal()">
              <ion-icon name="menu"></ion-icon>
          </ion-button>
          <ion-badge (click)="sharedComps.openMenu()" *ngIf="this.annServe.RsvpNotifCount>=1" slot="start" class="pulse pulse-on-button" color="danger">{{this.annServe.RsvpNotifCount}}</ion-badge>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Wedding Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header >
        <img src="../../assets/images/formal_attire.png"  class="img-container" />
      </ion-card-header>
      <ion-card-content class="ion-text-left">
      <h1 class="ion-text-justify"><b>For the wedding</b></h1><br>
      <b>Attire:</b> Formal <br>
      <b>Gentlemen:</b> Suits, tuxedos or formal sports coat (with tie) and slacks <br>
      <b>Ladies:</b> Long gowns <br><br>
      <div class="notes">August in Queenstown will be the peak of winter and our ceremony will take place in an outdoor setting. 
        We highly recommend bringing a thick jacket or faux fur coat to keep yourself warm.</div>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          <img src="../../assets/images/weather_heads_up.jpg"  class="img-container" />
        </ion-card-header>
        <ion-card-content class="ion-text-left image-content">
          <h1 class="ion-text-justify"><b>Around town</b></h1>
            <b>Temp:</b> high of 10C low of  0C<br><br>
            <div class="notes">Because Queenstown is a lakeside town, expect some wind chill when you stroll around the city centre. 
                Do pack some thermals, warm and wind-proof jackets (puffers, long coats, etc), beanies and gloves. </div>
        </ion-card-content>
      </ion-card>
  
</ion-content>
