<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-button color="dark" (click)="this.homeMenu.openModal()">
              <ion-icon name="menu"></ion-icon>
          </ion-button>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Accomodations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>     
    <ion-card-header>
      <ion-card-title  class="ion-text-center">Tom and Ingga Reccomended Accommodation</ion-card-title>  
      <img src="../../assets/images/accomodation.jpg" class="img-container" />
    </ion-card-header>
    <ion-card-content>
        <div class="ion-text-center">
          Queenstown, New Zealand has a huge range of accommodation styles to suit every age and stage, style and budget. see more info at <a (click)="openLink('https://www.queenstownnz.co.nz/accommodation/')"> www.queenstownnz.co.nz/accommodation</a>
        </div>
    </ion-card-content>
  </ion-card>  
  
</ion-content>

