<ion-header>
  <ion-toolbar  mode="ios">
    <ion-buttons slot="start" >
          <ion-button class="pre-wedding-menu-button" color="dark" (click)="this.homeMenu.openModal()">
              <ion-icon name="menu"></ion-icon>
          </ion-button>
          <ion-badge (click)="sharedComps.openMenu()" *ngIf="this.annServe.RsvpNotifCount>=1" slot="start" class="pulse pulse-on-button" color="danger">{{this.annServe.RsvpNotifCount}}</ion-badge>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Accommodation</ion-title>

  </ion-toolbar>
  
</ion-header>

<ion-content>
    <ion-card class="recom-card">
        <ion-card-header >
            <ion-card-title  class="ion-text-center recom-text" >Tommy & Ingga Recommends</ion-card-title>  
            <img src="../../assets/images/accomodation-lux.jpg" class="img-container" />
        </ion-card-header>
        <ion-card-header class=lux-hotel>       
            <ion-card-title >
                Luxury Villas
            </ion-card-title>
            <ion-card-subtitle>
                Sotheby’s International Realty
            </ion-card-subtitle>  
        </ion-card-header>
        <ion-card-content>
            <div class="ion-text-justify lux-details">
                For luxury villa rentals, we’ve had an amazing experience booking with Sotheby’s Rentals. All their properties are of exceptional standards and they provide timely and quality service. Please mention that you are a part of our party so that they can find the best villa for in close proximity to us.
            </div>
            <div>
                <ion-item class="ion-text-justify">
                    Contact: Michelle Arona   
                </ion-item>
                <ion-item>
                    Email: michelle.arona@nzsir.com
                </ion-item>
                <ion-item>
                    Mobile/Whatsapp: +64 2153 9114
                </ion-item>  
                <ion-item>
                    <a href="http://nzsothebysrealty.com/luxury-rentals">http://nzsothebysrealty.com/luxury-rentals</a>
                </ion-item>  
            </div>                    
        </ion-card-content>
    </ion-card>   
    <ion-card class="recom-card">  
        <ion-card-header>
            <!-- <ion-card-title  class="ion-text-center recom-text" >AirBNB</ion-card-title>    -->
        
        </ion-card-header>
        <ion-card-header class=lux-hotel>       
            <ion-card-title>
                Airbnb
            </ion-card-title>
            <ion-card-subtitle>
                Book unique places to stay 
            </ion-card-subtitle>  
            </ion-card-header>
            <img src="../../assets/images/airbnb.jpg" class="img-container" />
        <ion-card-content>
            <div class="ion-text-justify lux-details">
                With a huge variety of options for all price points, AirBnb is another great option for anyone looking to rent an apartment or a house. We recommend booking around the Queenstown central area so that you will be close to the dinner reception.
            <br>                    <a href="https://www.airbnb.com/">www.airbnb.com</a>
            </div>
           
        </ion-card-content>
    </ion-card>
    <ion-card class="recom-card">  
        <ion-card-header>
            <!-- <ion-card-title  class="ion-text-center recom-text" >EICHARDT’S PRIVATE HOTEL</ion-card-title>    -->   
        </ion-card-header>
        <ion-card-header class=lux-hotel>       
            <ion-card-title>
                EICHARDT’S PRIVATE HOTEL
            </ion-card-title>
            <ion-card-subtitle>
                Boutique luxury hotel
            </ion-card-subtitle>  
            <img src="../../assets/images/eichardts.jpg" class="img-container" />
            </ion-card-header>
       
        <ion-card-content>
            <div class="ion-text-justify lux-details">
               A luxury boutique hotel located in the centre of town. The hotel’s restaurant The Grille by Eichardt’s is where we will be having our dinner reception.   <br>
            <a href="https://www.eichardts.com/">www.eichardts.com/</a>    
            </div>
            
        </ion-card-content>
    </ion-card>    
    <ion-card class="recom-card">  
        <ion-card-header>
            <!-- <ion-card-title  class="ion-text-center recom-text" >EICHARDT’S PRIVATE HOTEL</ion-card-title>    -->   
        </ion-card-header>
        <ion-card-header class=lux-hotel>       
            <ion-card-title>
                Sofitel Queenstown Hotel and Spa
            </ion-card-title>
            <ion-card-subtitle>
                
            </ion-card-subtitle>  
            <img src="../../assets/images/menu/sofitel.jpg" class="img-container" />
            </ion-card-header>
       
        <ion-card-content>
            <div class="ion-text-justify lux-details">
                Centrally located hotel just a 5 minute walk to our dinner reception venue.<br>
                <a href="https://www.sofitel-queenstown.com/">www.sofitel-queenstown.com</a>
            </div>
        </ion-card-content>
    </ion-card>  
    <ion-card class="recom-card">  
        <ion-card-header>
            <!-- <ion-card-title  class="ion-text-center recom-text" >EICHARDT’S PRIVATE HOTEL</ion-card-title>    -->   
        </ion-card-header>
        <ion-card-header class=lux-hotel>       
            <ion-card-title>
                Holiday Inn Express & Suites Queenstown 
            </ion-card-title>
            <ion-card-subtitle>
                
            </ion-card-subtitle>  
            <img src="../../assets/images/menu/holiday.jpg" class="img-container" />
            </ion-card-header>
          
        <ion-card-content>
            <div class="ion-text-justify lux-details">
                Another well positioned hotel in the centre of Queenstown just a 7 minute walk to our dinner reception venue
                <br>
                <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/queenstown/zqnqt/hoteldetail">www.ihg.com/holidayinnexpress</a> 
            </div> 
        </ion-card-content>
    </ion-card>  
    <ion-card class="recom-card">  
        <ion-card-header>
            <!-- <ion-card-title  class="ion-text-center recom-text qtown" >OTHER QUEENSTOWN HOTELS</ion-card-title>    -->
 
        </ion-card-header>
        <ion-card-header class="lux-hotel qtown">       
            <ion-card-title>
                QT Queenstown 
            </ion-card-title>
            <ion-card-subtitle>
                
            </ion-card-subtitle>  
            <img src="../../assets/images/accomodation.jpg" class="img-container" />
            </ion-card-header>
        <ion-card-content>
            <div class="ion-text-justify lux-details">
                Hip boutique hotel with great lake views that’s about an 11 minute walk to our dinner reception venue.
                <br>
                <a href='https://www.qthotels.com/queenstown/'> www.qthotels.com/queenstown/</a>
            </div> 
        </ion-card-content>
    </ion-card>   
</ion-content>

