<ion-header>
  <ion-toolbar  mode="ios">
    <ion-buttons slot="start" >
          <ion-button class="pre-wedding-menu-button" color="dark" (click)="this.homeMenu.openModal()">
              <ion-icon name="menu"></ion-icon>
          </ion-button>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Accomodation</ion-title>

  </ion-toolbar>
  
</ion-header>

<ion-content>
    <ion-card class="recom-card">
        <ion-card-header >
            <ion-card-title  class="ion-text-center recom-text" >Tom & Ingga Reccomendations</ion-card-title>  
            <img src="../../assets/images/accomodation-lux.jpg" class="img-container" />
        </ion-card-header>
        <ion-card-header class=lux-hotel>       
            <ion-card-title >
                Luxury Villas
            </ion-card-title>
            <ion-card-subtitle>
                Sotheby’s International Realty
            </ion-card-subtitle>  
        </ion-card-header>
        <ion-card-content>
            <div class="ion-text-justify lux-details">
                For luxury villa rentals, we’ve had an amazing experience booking with Sotheby’s Rentals. All their properties are of exceptional standards and they provide timely and quality service. Please mention that you are a part of our party so that they can find the best villa for in close proximity to us.
            </div>
            <div>
                <ion-item class="ion-text-justify">
                    Contact: Michelle Arona   
                </ion-item>
                <ion-item>
                    Email: michelle.arona@nzsir.com
                </ion-item>
                <ion-item>
                    Mobile/Whatsapp: +64 2153 9114
                </ion-item>  
                <ion-item>
                    <a href="http://nzsothebysrealty.com/luxury-rentals">http://nzsothebysrealty.com/luxury-rentals</a>
                </ion-item>  
            </div>                    
        </ion-card-content>
    </ion-card>   
    <ion-card class="recom-card">  
        <ion-card-header>
            <!-- <ion-card-title  class="ion-text-center recom-text" >AirBNB</ion-card-title>    -->
     
        </ion-card-header>
        <ion-card-header class=lux-hotel>       
            <ion-card-title>
                AirBNB
            </ion-card-title>
            <ion-card-subtitle>
                Book unique places to stay 
            </ion-card-subtitle>  
            </ion-card-header>
            <img src="../../assets/images/airbnb.jpg" class="img-container" />
        <ion-card-content>
            <div class="ion-text-justify lux-details">
                With a huge variety of options for all price points, AirBnb is another great option for anyone looking to rent an apartment or a house. We recommend booking around the Queenstown central area so that you will be close to the dinner reception.
            </div>
            <div>                  
                <ion-item lines=none>
                    <a href="https://www.airbnb.com/">www.airbnb.com</a>
                </ion-item>  
            </div>  
        </ion-card-content>
    </ion-card>     
    <ion-card class="recom-card">  
        <ion-card-header>
            <!-- <ion-card-title  class="ion-text-center recom-text" >EICHARDT’S PRIVATE HOTEL</ion-card-title>    -->   
        </ion-card-header>
        <ion-card-header class=lux-hotel>       
            <ion-card-title>
                EICHARDT’S PRIVATE HOTEL
            </ion-card-title>
            <ion-card-subtitle>
                Boutique luxury hotel
            </ion-card-subtitle>  
            </ion-card-header>
            <img src="../../assets/images/eichardts.jpg" class="img-container" />
        <ion-card-content>
            <div class="ion-text-justify lux-details">
                This 19th century iconic hotel not only boasts incredible views of Lake Wakatipu but will be the venue for the dinner reception. If you’re looking for absolutely convenience and luxury then this hotel is for you.
            </div>
            <div>                  
                <ion-item lines=none>
                    <a href="https://www.eichardts.com/">www.eichardts.com/</a>
                </ion-item>  
            </div>  
        </ion-card-content>
    </ion-card>    
    <ion-card class="recom-card">  
        <ion-card-header>
            <!-- <ion-card-title  class="ion-text-center recom-text qtown" >OTHER QUEENSTOWN HOTELS</ion-card-title>    -->
 
        </ion-card-header>
        <ion-card-header class="lux-hotel qtown">       
            <ion-card-title>
                OTHER QUEENSTOWN HOTELS
            </ion-card-title>
            <ion-card-subtitle>
                Queenstown Tourism Website
            </ion-card-subtitle>  
            <img src="../../assets/images/accomodation.jpg" class="img-container" />
            </ion-card-header>
        <ion-card-content>
            <div class="ion-text-justify lux-details">
                The Queenstown Tourism website has the most comprehensive list of accommodation styles to suit every age, size and budget. See More at
            </div>
            <div>                  
                <ion-item lines=none>
                    <a (click)="openLink('https://www.queenstownnz.co.nz/accommodation/')"> www.queenstownnz.co.nz/accommodation</a>
                </ion-item>  
            </div>  
        </ion-card-content>
    </ion-card>   
</ion-content>

