.img-container{
    height: 40vh;
    width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    padding-top:10px
  }
  ion-item{
    font-size: 12px;
    // --padding-start: 0px;
  }
  .lux-hotel{
    padding-top: 0px;
    padding-bottom :0px;
    
    text-align: center !important;
  }

  .lux-details{
    font-size: 14px;
  }

  .recom-text{
    font-size: 19px;
  }
  .recom-card{
    // min-height: 87vh;
    margin-top: 20px !important;
    // margin-top:5px !important
  }
  .qtown {
    font-size: 18px !important;
    ion-card-title{
      font-size:26px !important;
    }
  }