<ion-header no-border>
    <ion-toolbar >
        <ion-label class="name-holder">
            <!-- {{post.uploaded_by}} -->
            {{this.imageService.currentPost.user.first_name}} {{this.imageService.currentPost.user.last_name}} 
            <p class="name-holder"> {{ this.imageService.currentPost.date_uploaded | date:'short' }}</p>
        </ion-label>
      <ion-buttons slot="end">
        <ion-icon color="primary"  name="close-circle" class="close-button" (click)="closeModal()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <div class="images-single">
        <div class="single-count-image">
            <ion-card no-padding  *ngFor="let image of this.imageService.currentPost.images | sort :'desc':'date_uploaded'; trackBy: trackByCreated"> 
                <ion-card-content class="img-container">
                    <div (click)="imageClick(image)" class="post-image">           
                        <ion-skeleton-text animated></ion-skeleton-text>
                        <ion-img [src]="image.url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                    </div> 
                </ion-card-content>
              </ion-card>
        </div>
    </div>
</ion-content>
