<ion-header no-border>
    <ion-toolbar >
        <ion-label>
            <!-- {{post.uploaded_by}} -->
            {{image_post.user.first_name}} {{image_post.user.last_name}} 
            <p>{{ image_post.date_uploaded | date:'short' }}</p>
        </ion-label>
      <ion-buttons slot="end">
          <ion-button (click)="closeModal()"><ion-icon name="close-circle"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <div class="images-single">
        <div class="single-count-image">
            <ion-card no-padding  *ngFor="let image of image_post.images| sort :'desc':'date_uploaded'; trackBy: trackByCreated"> 
                <ion-card-content>
                    <div (click)="imageClick(image)" class="post-image">           
                        <ion-skeleton-text animated></ion-skeleton-text>
                        <ion-img [src]="image.url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                    </div> 
                </ion-card-content>
              </ion-card>
        </div>
    </div>
</ion-content>
