.images-single{
    column-count: 1
}
.single-count-image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img-container{
  height: 100%;
}
.post-image{
  ion-skeleton-text{
      height: 30vh;
      width: 80vw;
      object-fit: inherit;
      object-position: inherit;
      position: relative;
      visibility: visible;
      opacity : 1
  }
  ion-img{

      height: 100%;
      width: 100%;
      animation: fadein .5s;
      transition: visibility 0s linear, opacity .5s linear;
      opacity: 0;
      visibility:hidden;
      object-fit: cover;
  }
  &.img-loaded {
      background-color: transparent;
      border: 0;
  
      ion-img {
        opacity: 1;
        visibility: visible;
      }
  
      ion-skeleton-text {
        display: none;
        visibility: hidden;
      }
    }
}