<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="reRoute('guestlist')"> < Back</ion-button>
    </ion-buttons>
    <ion-title>
      Guest Add Form 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="guestForm">
    <ion-item>
      <ion-label position="stacked">First Name</ion-label>
      <ion-input formControlName="first_name"  ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input formControlName="last_name"  ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Event Position</ion-label>
      <ion-input  formControlName="position"  ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Number</ion-label>
      <ion-input formControlName="number"  ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" formControlName="email"  ></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="stacked">Dedicated Password</ion-label>
      <ion-input formControlName="password"  ></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label>Admin Functions</ion-label>
      <ion-toggle formControlName="isAdmin"  slot="start" ></ion-toggle>
    </ion-item>
  </form>
</ion-content>
<ion-footer *ngIf="!guest.id">
  <ion-toolbar color="primary">
    <ion-button expand="full" fill="clear" color="light" (click)="addGuest()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Add Guest
    </ion-button>
  </ion-toolbar>
</ion-footer>
 
<!-- <ion-footer *ngIf="idea.id">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deleteIdea()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Delete
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateIdea()">
        <ion-icon name="save" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer> -->