<ion-header>
    <ion-toolbar>
      <ion-title>Dietary Restriction</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
  
  <ion-item *ngFor="let guest of (guestServe.diet_guests)">
    <ion-label>        
        <h2 style="text-transform: capitalize"> {{guest.first_name}} {{guest.last_name}} <ion-icon class="font-icon" name="restaurant"></ion-icon></h2>  
        <p>Diet Restriction:<br><b> "{{guest.diet_restriction}}"</b> <br> </p>  
      </ion-label>
  </ion-item>

</ion-content>
