<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="this.transServe.backButtonTrans()">
              <ion-icon slot="start" name="arrow-round-back"></ion-icon>            
          </ion-button>     
      </ion-buttons>
    <ion-title>Photos</ion-title>
    
  </ion-toolbar>
  <ion-segment [(ngModel)]="galleryType" color="primary">
    <ion-segment-button value="regular">
          <ion-icon name="image"></ion-icon>
      </ion-segment-button>  
    <ion-segment-button value="pinterest">
        <ion-icon name="grid"></ion-icon>
      </ion-segment-button>        
  </ion-segment>
</ion-header>

<ion-content>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
        <ion-fab-button color="primary">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button (click)="openImagePicker()"color="primary" data-desc="Upload Image">
            <ion-icon name="image"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="postFilter()"color="primary" data-desc="Filter My Posts">
            <ion-icon name="photos"></ion-icon>     
          </ion-fab-button>       
          <ion-fab-button (click)="seeAll()"color="primary" data-desc="See All Posts">
            <ion-icon name="photos"></ion-icon>     
          </ion-fab-button>      
          <!-- <ion-fab-button (click)="imageUploadTest()"color="primary" data-desc="Test Upload">
            <ion-icon name="photos"></ion-icon>     
          </ion-fab-button>    -->
        </ion-fab-list>
      </ion-fab>
   
    <br>
    <div [ngSwitch]="galleryType" *ngIf="GalleryPosts">
      <!-- Responsive Layout with Ion Grid-->
        <div class="images-single" *ngSwitchCase="'regular'">
          <div class="single-count-image" *ngFor="let post of GalleryPosts.slice(0,image_limit) | sort :'desc':'date_uploaded'; trackBy: trackByCreated;" >    
              <div *ngIf="OwnImages;then filteredImage;else allUser">                
              </div>
              <ng-template #filteredImage>                          
                  <ion-card no-padding *ngIf="post.user.uid ===  this.currentUser">
                      <ion-card-header>
                          <ion-item lines="none" no-padding >                            
                              <ion-label>
                                <!-- {{post.uploaded_by}} -->
                                {{post.user.first_name}} {{post.user.last_name}} 
                                <p>{{ post.date_uploaded | date:'short' }}</p>
                              </ion-label>                 
                              <ion-icon name="more" slot="end" (click)="actions.presentActionSheet(post)"></ion-icon>         
                          </ion-item>   
                      </ion-card-header>
                      <ion-card-content class="image-card">
                        <ion-img [src]="post.url"></ion-img>
                      </ion-card-content>                  
                    </ion-card>
              </ng-template>  
              <ng-template #allUser>
                  <ion-card no-padding >
                      <ion-card-header>
                          <ion-item lines="none" no-padding >                             
                              <ion-label>
                                <!-- {{post.uploaded_by}} -->
                                {{post.user.first_name}} {{post.user.last_name}} 
                                <p>{{ post.date_uploaded | date:'short' }}</p>
                              </ion-label>                 
                              <ion-icon name="more" slot="end" (click)="actions.presentActionSheet(post)"></ion-icon>         
                          </ion-item>   
                      </ion-card-header>
                      <ion-card-content class="image-card">
                        <ion-img  [src]="post.url"></ion-img>
                      </ion-card-content>                  
                  </ion-card>
              </ng-template>                         
          </div>
          <ion-infinite-scroll threshold="150px"  (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content [hidden]="hide_scroll" loading-spinner="crescent">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll> 
        </div>     
        <div class="images" *ngSwitchCase="'pinterest'">    
            <div class="one-image" *ngFor="let post of GalleryPosts.slice(0,image_limit) | sort :'desc':'date_uploaded'; trackBy: trackByCreated">
              <div *ngIf="OwnImages;then filteredImage;else allUser">                       
              </div>
              <ng-template #filteredImage>
                  <div (click)="imageClick(post)" *ngIf="post.user.uid ===  this.currentUser">
                      <ion-img [src]="post.url"></ion-img>
                  </div>  
              </ng-template>
              <ng-template #allUser>
                  <div (click)="imageClick(post)">
                      <ion-img [src]="post.url"></ion-img>
                  </div>  
              </ng-template>
            </div>
            <ion-infinite-scroll threshold="150px"  (ionInfinite)="loadData($event)">
              <ion-infinite-scroll-content [hidden]="hide_scroll" loading-spinner="crescent">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll> 
        </div>        
      <br>       
      <!-- More Pinterest floating gallery style -->   
    </div>
  </ion-content>
