<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button  class="pre-wedding-menu-button" color="dark" (click)="sharedComps.openMenu()">  
            <ion-icon name="menu"></ion-icon>
          </ion-button>
          <ion-badge (click)="sharedComps.openMenu()" *ngIf="this.annServe.RsvpNotifCount>=1" slot="start" class="pulse pulse-on-button" color="danger">{{this.annServe.RsvpNotifCount}}</ion-badge>
      </ion-buttons>
    <ion-title>Photos</ion-title>
    
  </ion-toolbar>
  <ion-segment [(ngModel)]="galleryType" color="primary">
    <ion-segment-button value="regular">
          <ion-icon name="image"></ion-icon>
      </ion-segment-button>  
    <ion-segment-button value="pinterest">
        <ion-icon name="grid"></ion-icon>
      </ion-segment-button>        
  </ion-segment>
</ion-header>

<ion-content>
    <ion-fab horizontal="end" vertical="bottom"slot="fixed" >
        <ion-fab-button color="primary" > 
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button (click)="openImagePicker()"color="primary" data-desc="Upload Image">
            <ion-icon name="image"></ion-icon>
          </ion-fab-button>            
          <!-- <ion-fab-button (click)="imageUploadTest()"color="primary" data-desc="Test Upload">
            <ion-icon name="photos"></ion-icon>     
          </ion-fab-button>    -->
        </ion-fab-list>
      </ion-fab>
      <ion-fab horizontal="end"  slot="fixed" >
          <ion-fab-button color="primary">
            <ion-icon name="images"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="bottom"> 
            <ion-fab-button (click)="postFilter()"color="primary" data-desc="Filter My Posts">
              <ion-icon name="person"></ion-icon>     
            </ion-fab-button>       
            <ion-fab-button (click)="seeAll()"color="primary" data-desc="See All Posts">
              <ion-icon name="people"></ion-icon>
            </ion-fab-button>              
          </ion-fab-list>
        </ion-fab>  
    <br>
    <div [ngSwitch]="galleryType" *ngIf="GalleryPosts">
      <!-- Responsive Layout with Ion Grid-->
        <!-- <div class="images-single" *ngSwitchCase="'regular'"> -->
        <div class="images-single" [hidden]="galleryType === 'pinterest'">
          <div class="single-count-image" *ngFor="let post of GalleryPosts | sort :'desc':'date_uploaded'; trackBy: trackByCreated;">
            <div *ngIf="post.user">  
              <div *ngIf="OwnImages;then filteredImage;else allUser">                
              </div>
              <ng-template #filteredImage>                          
                  <ion-card no-padding *ngIf="post.user.uid ===  this.currentUser">
                      <ion-card-header>
                          <ion-item lines="none" no-padding >                             
                              <ion-label>
                                <!-- {{post.uploaded_by}} -->
                                {{post.user.first_name}} {{post.user.last_name}} 
                                <p>{{ post.date_uploaded | date:'short' }}</p>
                              </ion-label>                 
                              <ion-icon name="more" slot="end" (click)="actions.GalleryActionSheet(post)"></ion-icon>         
                          </ion-item>   
                      </ion-card-header>
                      <ion-card-content *ngIf="post.images.length===1">
                          <div class="image-card">
                              <ion-skeleton-text animated></ion-skeleton-text>
                              <ion-img-viewer  src="{{post.images[0].url}}" (ionImgDidLoad)="customImageLoaded($event,true)" ></ion-img-viewer>
                          </div>
                      </ion-card-content>
                      <ion-card-content *ngIf="post.images.length===2" class="d-image">
                          <div class="image-card">
                              <ion-skeleton-text animated></ion-skeleton-text>
                              <ion-img-viewer  src="{{post.images[0].url}}" (ionImgDidLoad)="customImageLoaded($event,true)" ></ion-img-viewer>
                          </div>
                          <div class="image-card">
                              <ion-skeleton-text animated></ion-skeleton-text>
                              <ion-img-viewer  src="{{post.images[1].url}}" (ionImgDidLoad)="customImageLoaded($event,true)" ></ion-img-viewer>
                          </div>
                      </ion-card-content>
                      <ion-card-content *ngIf="post.images.length===3">
                          <ion-row>
                            <ion-col size="12">
                              <div class="image-card">
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                  <ion-img-viewer  src="{{post.images[0].url}}" (ionImgDidLoad)="customImageLoaded($event,true)" ></ion-img-viewer>
                              </div>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <div class="image-card">
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                  <ion-img-viewer  src="{{post.images[1].url}}" (ionImgDidLoad)="customImageLoaded($event,true)" ></ion-img-viewer>
                              </div>
                            </ion-col>
                            <ion-col size="6">
                              <div class="image-card">
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                  <ion-img-viewer  src="{{post.images[2].url}}" (ionImgDidLoad)="customImageLoaded($event,true)" ></ion-img-viewer>
                              </div>
                            </ion-col>
                          </ion-row>
                      </ion-card-content>
                      <ion-card-content *ngIf="post.images.length===4">
                        <ion-row>
                            <ion-col size="6">
                              <div (click)="imageClick(post.images[0])" class="post-image">           
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                  <ion-img [src]="post.images[0].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                              </div>  
                            </ion-col>
                            <ion-col size="6">
                              <div (click)="imageClick(post.images[1])" class="post-image">           
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                  <ion-img [src]="post.images[1].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                              </div> 
                            </ion-col>
                          </ion-row>
                          <ion-row>
                              <ion-col size="6">
                                <div (click)="imageClick(post.images[2])" class="post-image">           
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                    <ion-img [src]="post.images[2].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                                </div> 
                              </ion-col>
                              <ion-col size="6">
                                <div (click)="imageClick(post.images[3])" class="post-image">           
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                    <ion-img [src]="post.images[3].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                                </div> 
                              </ion-col>
                          </ion-row>
                      </ion-card-content>
                      <ion-card-content *ngIf="post.images.length>=5" >
                        <ion-row>
                          <ion-col size="12">
                            <div (click)="imageClick(post.images[0])" class="post-image">           
                                <ion-skeleton-text animated></ion-skeleton-text>
                                <ion-img [src]="post.images[0].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                            </div>  
                          </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="4">
                                <div (click)="imageClick(post.images[1])" class="post-image">           
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                    <ion-img [src]="post.images[1].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                                </div> 
                              </ion-col>
                            <ion-col size="4">
                              <div (click)="imageClick(post.images[2])" class="post-image">           
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                  <ion-img [src]="post.images[2].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                              </div> 
                            </ion-col>
                            <ion-col size="4">
                              <div (click)="seeMoreClick(post)" class="post-image">           
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                  <div class="count_click"><span>{{post.images.length}}+</span></div>
                                  <ion-img [src]="post.images[3].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                              </div> 
                            </ion-col>
                        </ion-row>
                          <!-- <div *ngFor="let image of post.images| sort :'desc':'date_uploaded'; trackBy: trackByCreated"  class="image-card">
                              <ion-skeleton-text animated></ion-skeleton-text>
                              <ion-img-viewer  src="{{image.url}}" (ionImgDidLoad)="customImageLoaded($event,true)" ></ion-img-viewer>
                          </div> -->
                      </ion-card-content>
                      <ion-item class="icon-footer" lines="none">                                                                                            
                          <!-- <ion-icon name="logo-facebook" (click)="actions.DirectSharingButton(post,'fb')" color="medium" slot="end" style="margin-left: 4px; margin-bottom:15px"></ion-icon>                            
                          <ion-icon name="logo-instagram" (click)="actions.DirectSharingButton(post,'insta')" color="medium" slot="end" style=" margin-bottom:15px"></ion-icon>    
                          <ion-icon name="logo-whatsapp" (click)="actions.DirectSharingButton(post,'whats')" color="medium" slot="end" style=" margin-bottom:15px"></ion-icon>  
                          <ion-icon name="logo-twitter" (click)="actions.DirectSharingButton(post,'twitter')" color="medium" slot="end" style=" margin-bottom:15px"></ion-icon>      -->
                          <ion-icon name="share" (click)="actions.sharingActionSheet(post)" color="medium" slot="end" style=" margin-bottom:15px"></ion-icon> 
                      </ion-item>                   
                  </ion-card>
              </ng-template>  
              <ng-template #allUser>
                  <ion-card no-padding > 
                      <ion-card-header>
                          <ion-item lines="none" no-padding >                             
                              <ion-label>
                                <!-- {{post.uploaded_by}} -->
                                {{post.user.first_name}} {{post.user.last_name}} 
                                <p>{{ post.date_uploaded | date:'short' }}</p>
                              </ion-label>                 
                              <ion-icon name="more" slot="end" (click)="actions.GalleryActionSheet(post)"></ion-icon>         
                          </ion-item>   
                      </ion-card-header>
                      <ion-card-content *ngIf="post.images.length===1">
                          <div class="image-card">
                              <ion-skeleton-text animated></ion-skeleton-text>
                              <ion-img-viewer  src="{{post.images[0].url}}" (ionImgDidLoad)="customImageLoaded($event,true)" ></ion-img-viewer>
                          </div>
                      </ion-card-content>
                      <ion-card-content *ngIf="post.images.length===2" class="d-image">
                          <div class="image-card">
                              <ion-skeleton-text animated></ion-skeleton-text>
                              <ion-img-viewer  src="{{post.images[0].url}}" (ionImgDidLoad)="customImageLoaded($event,true)" ></ion-img-viewer>
                          </div>
                          <div class="image-card">
                              <ion-skeleton-text animated></ion-skeleton-text>
                              <ion-img-viewer  src="{{post.images[1].url}}" (ionImgDidLoad)="customImageLoaded($event,true)" ></ion-img-viewer>
                          </div>
                      </ion-card-content>
                      <ion-card-content *ngIf="post.images.length===3">
                          <ion-row>
                            <ion-col size="12">
                              <div class="image-card">
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                  <ion-img-viewer  src="{{post.images[0].url}}" (ionImgDidLoad)="customImageLoaded($event,true)" ></ion-img-viewer>
                              </div>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <div class="image-card">
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                  <ion-img-viewer  src="{{post.images[1].url}}" (ionImgDidLoad)="customImageLoaded($event,true)" ></ion-img-viewer>
                              </div>
                            </ion-col>
                            <ion-col size="6">
                              <div class="image-card">
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                  <ion-img-viewer  src="{{post.images[2].url}}" (ionImgDidLoad)="customImageLoaded($event,true)" ></ion-img-viewer>
                              </div>
                            </ion-col>
                          </ion-row>
                      </ion-card-content>
                      <ion-card-content *ngIf="post.images.length===4">
                        <ion-row>
                            <ion-col size="6">
                              <div (click)="imageClick(post.images[0])" class="post-image">           
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                  <ion-img [src]="post.images[0].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                              </div>  
                            </ion-col>
                            <ion-col size="6">
                              <div (click)="imageClick(post.images[1])" class="post-image">           
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                  <ion-img [src]="post.images[1].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                              </div> 
                            </ion-col>
                          </ion-row>
                          <ion-row>
                              <ion-col size="6">
                                <div (click)="imageClick(post.images[2])" class="post-image">           
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                    <ion-img [src]="post.images[2].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                                </div> 
                              </ion-col>
                              <ion-col size="6">
                                <div (click)="imageClick(post.images[3])" class="post-image">           
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                    <ion-img [src]="post.images[3].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                                </div> 
                              </ion-col>
                          </ion-row>
                      </ion-card-content>
                      <ion-card-content *ngIf="post.images.length>=5" >
                        <ion-row>
                          <ion-col size="12">
                            <div (click)="imageClick(post.images[0])" class="post-image">           
                                <ion-skeleton-text animated></ion-skeleton-text>
                                <ion-img [src]="post.images[0].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                            </div>  
                          </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="4">
                                <div (click)="imageClick(post.images[1])" class="post-image">           
                                    <ion-skeleton-text animated></ion-skeleton-text>
                                    <ion-img [src]="post.images[1].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                                </div> 
                              </ion-col>
                            <ion-col size="4">
                              <div (click)="imageClick(post.images[2])" class="post-image">           
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                  <ion-img [src]="post.images[2].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                              </div> 
                            </ion-col>
                            <ion-col size="4">
                              <div (click)="seeMoreClick(post)" class="post-image">           
                                  <ion-skeleton-text animated></ion-skeleton-text>
                                  <div class="count_click"><span>{{post.images.length}}+</span></div>
                                  <ion-img [src]="post.images[3].url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                              </div> 
                            </ion-col>
                        </ion-row>
                          <!-- <div *ngFor="let image of post.images| sort :'desc':'date_uploaded'; trackBy: trackByCreated"  class="image-card">
                              <ion-skeleton-text animated></ion-skeleton-text>
                              <ion-img-viewer  src="{{image.url}}" (ionImgDidLoad)="customImageLoaded($event,true)" ></ion-img-viewer>
                          </div> -->
                      </ion-card-content>
                      <ion-item class="icon-footer" lines="none">                                                                                            
                          <!-- <ion-icon name="logo-facebook" (click)="actions.DirectSharingButton(post,'fb')" color="medium" slot="end" style="margin-left: 4px; margin-bottom:15px"></ion-icon>                            
                          <ion-icon name="logo-instagram" (click)="actions.DirectSharingButton(post,'insta')" color="medium" slot="end" style=" margin-bottom:15px"></ion-icon>    
                          <ion-icon name="logo-whatsapp" (click)="actions.DirectSharingButton(post,'whats')" color="medium" slot="end" style=" margin-bottom:15px"></ion-icon>  
                          <ion-icon name="logo-twitter" (click)="actions.DirectSharingButton(post,'twitter')" color="medium" slot="end" style=" margin-bottom:15px"></ion-icon> -->
                          <ion-icon name="share" (click)="actions.sharingActionSheet(post)" color="medium" slot="end" style=" margin-bottom:15px"></ion-icon>      
                      </ion-item>  
                  </ion-card>
              </ng-template> 
            </div>                          
          </div>
          <ion-infinite-scroll threshold="150px"  (ionInfinite)="loadData($event)">
            <!-- <ion-infinite-scroll-content [hidden]="hide_scroll" loading-spinner="crescent">
            </ion-infinite-scroll-content> -->
          </ion-infinite-scroll> 
        </div>     
        <!-- <div class="images" *ngSwitchCase="'pinterest'">     -->
        <div class="images" [hidden]="galleryType === 'regular'" >    
            <div class="one-image" *ngFor="let post of all_images| sort :'desc':'date_uploaded'; trackBy: trackByCreated">
              <div *ngIf="post.user">  
                <div *ngIf="OwnImages;then filteredImage;else allUser">                       
                </div>
                <ng-template #filteredImage>
                    <div (click)="imageClick(post)" *ngIf="post.user.uid ===  this.currentUser" class="frame-image">                
                        <ion-skeleton-text animated></ion-skeleton-text>
                        <ion-img [src]="post.url"
                        (ionImgDidLoad)="imageLoaded($event,true)"                      
                        ></ion-img>
                    </div>  
                </ng-template>
                <ng-template #allUser>
                    <div (click)="imageClick(post)" class="frame-image">           
                          <ion-skeleton-text animated></ion-skeleton-text>
                          <ion-img [src]="post.url"(ionImgDidLoad)="imageLoaded($event,true)"></ion-img>               
                    </div>  
                </ng-template>
              </div>
            </div>
            <ion-infinite-scroll threshold="150px"  (ionInfinite)="loadData($event)">
              <!-- <ion-infinite-scroll-content [hidden]="hide_scroll" loading-spinner="crescent">
              </ion-infinite-scroll-content> -->
            </ion-infinite-scroll> 
        </div>        
      <br>       
      <!-- More Pinterest floating gallery style -->   
    </div>
  </ion-content>
