@import "../../theme/variables.scss";
ion-card{    
    margin: 0 !important;
    margin-bottom:  16px
}
.images {
    display: flex;
    flex-wrap: wrap;
    column-count: 3;
    // height: 300px
}
.image-card{
    padding-top: 0px !important;
   
}

.images-single{
    column-count: 1;
    ion-col{
      padding:2px !important
    }
    ion-row{
      padding:0px !important
    }
}

.image-card {
 
    ion-skeleton-text{
        // height: 60vh;
        // width: 90vw;
        height: 100%;
        width: 100%;

        min-height:  30vh;
        // min-width:  90vw;
        // object-fit: inherit;
        // object-position: inherit;
        // position: absolute;
        visibility: visible;
        opacity : 1
    }
    ion-img-viewer {
        height: 60vh;
        width: 90vw;
        // height: 100%;
        // width: 100%;
        // max-height:  60vh;
        // max-width: 100vw;
        animation: fadein .5s;
        transition: visibility 0s linear, opacity .5s linear;
        opacity: 1;
        visibility:hidden;
        object-fit: cover;    
    }   
    &.img-loaded {
        background-color: transparent;
        border: 0;
    
        ion-img-viewer {
          opacity: 1;
          visibility: visible;
        }
        ion-img-viewer::after {
          visibility: hidden;
        }
        ion-skeleton-text {
          display: none;
          visibility: hidden;
        }
      }
}
.icon-footer{
  ion-icon{
    font-size: 30px;
  }
}
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; } 
  }
.single-count-image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
// .one-image
.count_click{
  height: 25vh;
  width: 96%;
  background: #222428ab;
  position: absolute;
  color:white;
  span{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 33%;
    position: relative;
    font-size: 35px;
  }
}
.post-image{
  ion-skeleton-text{
      height: 25vh;
      width: 100%;
      object-fit: inherit;
      object-position: inherit;
      position: absolute;
      visibility: visible;
      opacity : 1
  }
  ion-img{

      height: 25vh;
      width: 100%;
      animation: fadein .5s;
      transition: visibility 0s linear, opacity .5s linear;
      opacity: 0;
      visibility:hidden;
      object-fit: cover;
  }
  &.img-loaded {
      background-color: transparent;
      border: 0;
  
      ion-img {
        opacity: 1;
        visibility: visible;
      }
  
      ion-skeleton-text {
        display: none;
        visibility: hidden;
      }
    }
}
.frame-image{
    ion-skeleton-text{
        height: 20vh;
        width: 30vw;
        object-fit: inherit;
        object-position: inherit;
        position: absolute;
        visibility: visible;
        opacity : 1
    }
    ion-img{
        margin: 6px;
        height: 20vh;
        width: 30vw;
        animation: fadein .5s;
        transition: visibility 0s linear, opacity .5s linear;
        opacity: 0;
        visibility:hidden;
        object-fit: cover;
    }
    &.img-loaded {
        background-color: transparent;
        border: 0;
    
        ion-img {
          opacity: 1;
          visibility: visible;
        }
    
        ion-skeleton-text {
          display: none;
          visibility: hidden;
        }
      }
}


.d-image{
  display:flex;
  flex-direction: column;
  .image-card{
    flex:50%;
    margin-bottom: 5px;
  }
}
.t-image{

  column-count: 2;
 
  column-gap: 10px;
  .image-card{
    width:100%;
    margin-bottom: 5px;
  }
}
ion-fab-button[data-desc] {
    position: relative;
  }
  
ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--ion-color-light);
    padding: 9px;
    border-radius: 15px;
    color: var( --ion-color-primary);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}



