<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="this.transServe.backButtonTrans()">
              <ion-icon slot="start" name="ios-arrow-back"></ion-icon>            
          </ion-button>     
      </ion-buttons>
    <ion-title>Wedding Itinerary</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  <div *ngIf="info">
  <ion-card class="wedding-info">
    <img src="{{info.wedding_image}}" (click)="changeImage()" alt="" />
      <ion-card-header>
        <ion-card-title >
            <ion-input class="card-title-input"
              [(ngModel)]="info.location_name"  
              (ionBlur)="saveItem()"    
              readonly="{{!isAdmin}}"
              ></ion-input>
          </ion-card-title>        
      </ion-card-header>   
      <ion-item  class="details-card">
          <ion-icon name="map" slot="start"  color="medium" ></ion-icon> 
              <ion-textarea   
              [(ngModel)]="info.location_place"  
              (ionBlur)="saveItem()"    
              readonly="{{!isAdmin}}"
              autoGrow=true 
              ></ion-textarea>            
        </ion-item>
        <ion-item class="details-card">
          <ion-icon name="calendar" slot="start"  color="medium"></ion-icon>        
              <ion-input   
              [(ngModel)]="info.weddingDate"  
              (ionBlur)="saveItem()"    
              readonly="{{!isAdmin}}"
              ></ion-input>     
        </ion-item>
        <ion-item (click)=openMap() class="details-card">
            <ion-icon name="car" slot="start"  color="medium"></ion-icon>        
            <label> Get Directions <a></a></label>   
            <ion-icon  slot="end" style="background: #00000000" color="medium"  name="eye"></ion-icon> 
        </ion-item>
      <ion-card-content>        
        <ion-textarea class="ion-text-justify" autoGrow=true  
        [(ngModel)]="info.place_description"  
        (ionBlur)="saveItem()"    
        readonly="{{!isAdmin}}"
        ></ion-textarea>        
      </ion-card-content>
  </ion-card>      
  <!-- <ion-card class="welcome-card"> 
        <ion-card-header>
          <ion-card-title>Latest Photos</ion-card-title>
          <ion-card-subtitle>Gallery </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-slides [options]="slideOptions" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)" >
            <ion-slide *ngFor="let post of (posts | async)">
              <ion-img class="imageCard" [src]="post.url"></ion-img>
            </ion-slide>          
          </ion-slides>
          <br>          
        </ion-card-content>
  </ion-card>  -->
  </div>
</ion-content>