.map {   

        top: 0; 
        right: 0;
        width:400px;
        height:400px
}
.imageCard {
    height: 60vh;
    width: 90vw;
    object-fit: cover !important;
}
.wedding-info{
    height: 80vh;
    ion-card-header{
        padding-bottom: 0px !important
    }
    ion-card-content{
        padding-top: 0px !important
    }
  
}
.details-card{
    ion-icon{
        font-size: 20px;
    }
    ion-textarea{
        font-size: 14px        
    }
    ion-input{
        font-size: 14px   
    }
    label{
        font-size: 14px   
    }
}
.event-card{
    height: 550px !important;
}
.slides-content{
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 0px !important;
    padding-inline-start: 0px !important;
    -webkit-padding-end: 0px !important;
    padding-inline-end: 0px !important;
    padding-top: 0px !important;
}
.card-title-input{

    --padding-top: 0px;
    --padding-bottom: 0px;
    
}
.card-textarea{

    --padding-bottom: 0px;
    
}
.native-input[disabled].sc-ion-input-ios {
    opacity: 1 !important;
}