<ion-content force-overscroll="false">
  <ion-slides [options]="slideOptions" pager="true" [hidden]="hideSlide" >
      <ion-slide>
        <div class="slide-content" >
            <p> JOHN DANIELS & TARA DANIELS </p>
            <p> RAFAELA ABELLO &  PRESENTACIO ABELLO </p>
            <span class=under-text> request the honor of your presence <br>at the marraige of their children </span>
            <h1 class="wc-text">Tom  <br>&<br> Ingga</h1>
            <p> SATURDAY, THE THIRTIETH OF NOVEMBER
            <br> two thousand and nineteen</p>
            <br>
            <p> AT TWO O'CLOCK IN THE AFTERNOON
                <br> </p>
            <br>
            <p> SAINT JUDE THADDEUS PARISH AND SHRINE
                <br> </p>
            <br>
            <p> "Some Welcome Messsage and Intro About the App"</p>
            <br>
            <section class="buttons">
                <header>RSVP</header>
                <ion-button size="large" color="light" (click)="home.updateStatus(true)"> Accept </ion-button>      
                <ion-button size="large" color="danger" (click)="home.updateStatus(false)"> Decline </ion-button>
            </section>            
        </div>
      </ion-slide>       
  </ion-slides>    
</ion-content>  