


  .wc-text{
    font-family: "libre";
    font-size: 5vh !important;
    text-transform: capitalize
  }  
  .image-container{
    --background: url("/assets/images/wed.jpg") ;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    height: 94vh;
    width: 100vw
  }
  ion-content{
  
  }
  .ands{
    text-transform: lowercase
  }
  .under-text{    
    // font-family: "roboto";
    // font-size: 1.5vh !important;
    font-weight: 200
  }
  p{
    margin-bottom: 0px !important;
    font-size:10px;
    font-family: "monsterrat" !important;
  }
  ion-button{
    font-family: "monsterrat" !important;
  }
  .rsvpbutton{
    font-family: "monsterrat";
    font-size:20px
  }
  ion-slides {
    height: 100% !important;

    // background: var(--ion-color-primary);
    color: #fff;   
    font-weight: 50 !important;
    ion-slide { 
      align-items: start;
      text-align: center;    

      .slide-content {
        padding-top: 18vh !important;
        background:rgba(1, 2, 3, 0.78)  !important;
        position: absolute;
        top:0;bottom:0;left:0;right:0;
        padding: 30px 3%;

        p {
          margin-top: 0px;
          font-family: notified-light;
          font-size:11px ;
          text-transform: uppercase
          
        }             
      }
      
    }
    ion-row{
      margin-bottom: 20px;
      margin-right: 7px;
      margin-left: -10px;
    }
    ion-slide:first-child{
      background : url("../../assets/images/nrsvp.png") no-repeat center center fixed; ;
      background-size: contain
    }     
    .slider .slider-pager {
      text-align: right;
    } 
    .buttons{
      ion-button{
        width: 40vw;
        height: 35px;
      }
      font-style : "roboto";
      position: absolute;
      bottom:11vh
    }
  }  
  .cross-img1{
    height: 14px;
    position: absolute;
    text-align: left;
    margin-left: 5px;
    margin-top: 0px;
  }
  .cross-img2{
    height: 14px;
    position: absolute;
    text-align: left;
    margin-left: 3px;
    margin-top: 0px;
  }