


  .wc-text{
    font-family: "sail-regular";
    font-size: 7.5vh !important;
  }  
  .under-text{    
    // font-family: "roboto";
    // font-size: 1.5vh !important;
    font-weight: 200
  }
  p{
    margin-bottom: 0px !important;
    font-family: "roboto" !important;
  }
  ion-button{
    font-family: "roboto" !important;
  }
  .rsvpbutton{
    font-family: "roboto";
    font-size:20px
  }
  ion-slides {
    height: 100% !important;

    // background: var(--ion-color-primary);
    color: #fff;   
    font-weight: 50 !important;
    ion-slide { 
      align-items: start;
      text-align: center;    

      .slide-content {
        padding-top: 18vh !important;
        background:rgba(1, 2, 3, 0.78)  !important;
        position: absolute;
        top:0;bottom:0;left:0;right:0;
        padding: 30px 3%;

        p {
          margin-top: 0px;
          font-family: notified-light;
          font-size:15px ;
          text-transform: uppercase
          
        }             
      }
      
    }
    ion-row{
      margin-bottom: 20px;
      margin-right: 7px;
      margin-left: -10px;
    }
    ion-slide:first-child{
      background : url("../../assets/images/church.jpg") no-repeat center center;
      background-size: cover;;
    }     
    .slider .slider-pager {
      text-align: right;
    } 
    .buttons{
      font-style : "roboto";
        margin-top:30px
    }
  }  
  .cross-img1{
    height: 14px;
    position: absolute;
    text-align: left;
    margin-left: 5px;
    margin-top: 0px;
  }
  .cross-img2{
    height: 14px;
    position: absolute;
    text-align: left;
    margin-left: 5px;
    margin-top: 0px;
  }