<ion-content force-overscroll="false" >
  <ion-slides class="swiper-no-swiping" [hidden]="hideSlide" *ngIf=info  >
      <ion-slide>
        <div class="slide-content" >
            <!-- <p> {{info.b_father_name}} & {{info.b_mother_name}} </p> -->   
            <ion-row>
                <ion-col>
                    <p> {{info.g_mother_name}} </p> 
                    <p >and</p>
                    <p> {{info.g_father_name}} <img [src]=cross_src class="cross-img1"></p> 
                </ion-col>
                <ion-col>
                    <p> {{info.b_mother_name}} </p>
                    <p >and</p>
                    <p> {{info.b_father_name}} <img [src]=cross_src class="cross-img2"></p> 
                </ion-col>            
            </ion-row>               
            <p class=under-text> {{info.invitation_f_text}} </p>
            <h1 class="wc-text">{{info.groom_name}} & {{info.bride_name}}</h1>
            <br><br>
            <p> {{info.weddingDateText}}</p>
            <!-- <br> {{info.weddingYearText}}</p>           -->
            <!-- <p> {{info.weddingTimeText}}
                <br> </p> --> 
                <br>      
            <p> {{info.wedding_location_rsvp}}
                <br>            
  
                {{info.wedding_address_rsvp}}
            </p>
            <br><br><br><br>
            <!-- <p> {{info.invitation_last_text}}</p> -->
            <br><br>
            <section class="buttons">
                <header class="rsvpbutton">R S V P</header>              
                <ion-button size="large" fill=outline color="success" (click)="home.updateStatus(true,true)" [disabled]="isAdmin" > Accept </ion-button>      
                <ion-button size="large" fill=outline color="danger" (click)="home.updateStatus(false,true)" [disabled]="isAdmin"> Decline </ion-button>
            </section>            
        </div>
      </ion-slide>       
  </ion-slides>    
</ion-content>  