<ion-header>
  <ion-toolbar class="header-bg">
      <ion-buttons slot="start">
        <ion-button  class="pre-wedding-menu-button" color="light" (click)="footer.openMenu()">
          <ion-icon name="menu"></ion-icon>
        </ion-button>  
      </ion-buttons>
    <ion-title>
      Announcements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-bg">  
  <ion-list>  
    <ion-card class="card-class"  *ngFor="let number of [0,1,2,3,4]" [hidden]="loaded">
        <ion-item class="item-class" lines="none">
          <ion-icon class="icon-announcement"  name="megaphone" slot="end"></ion-icon>          
          <ion-label slot="start">         <ion-skeleton-text animated></ion-skeleton-text></ion-label> 
          <ion-icon slot="end" name="flash"  color="medium"></ion-icon>    
        </ion-item>          
        <ion-card-content class="ion-text-justify card-body">
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-content>
        <ion-item lines="none" class="card-time-details">            
          <ion-label class="time-format"><ion-skeleton-text animated></ion-skeleton-text></ion-label>
        </ion-item> 
    </ion-card>
    <div #events *ngFor="let announcement of (announcements | sort :'desc':'date_posted' )">
      <ion-card class="card-class">
          <ion-item class="item-class" lines="none">                
            <ion-label slot="start" style="overflow:visible;white-space:pre-wrap">{{ announcement.title }}</ion-label> 
            <ion-icon slot="end" name="flash"  color="medium"></ion-icon>    
          </ion-item>          
          <ion-card-content class="ion-text-justify card-body">
              {{ announcement.body }} 
          </ion-card-content>
          <ion-item lines="none" class="card-time-details">            
            <ion-label class="time-format">{{announcement.date_posted | date: 'MMM dd hh:mm a'}}</ion-label>
          </ion-item> 
        </ion-card>
    </div>
    <div *ngIf="(announcements)?.length === 0;else caughtup">    
      <ion-card class="card-class">
          <ion-item class="item-class">         
            <ion-label class="ion-text-center"><ion-icon name="information-circle-outline"  class="icon-checkSize" ></ion-icon> </ion-label> 
          </ion-item>          
          <ion-card-content class="ion-text-center caught-body">
            Looks like there are no Announcements now, don't worry you will be notified if Announcements are made 
          </ion-card-content>       
        </ion-card>  
    </div>
    <ng-template  #caughtup>
        <ion-card class="card-class">
            <ion-item class="item-class">         
              <ion-label class="ion-text-center"><ion-icon name="checkmark-circle-outline" color="success"  class="icon-checkSize" ></ion-icon> </ion-label> 
            </ion-item>          
            <ion-card-content class="ion-text-center caught-body">
               All Caught up!
            </ion-card-content>       
          </ion-card>
    </ng-template>
  </ion-list>
</ion-content> 