.time-format{
    font-size: 15px
}
.icon-checkSize{
    font-size: 50px
}
.header-bg{
    --background: var( --ion-color-primary);
    color:#ffffff
}
.content-bg{
    --ion-background-color:#DEEEEF;
}
.card-body{
    font-size: 30px
}
.icon-announcement{
    color:#ffffff   
}
.caught-body{
    font-size:30px
}
.card-class {
    background: #ffffff
    
}
.item-class{
    --background: var( --ion-color-primary);
    color:#ffffff
}