.time-format{
    --ion-background-color: var( --ion-color-primary);
    font-size: 15px
}
.icon-checkSize{
    font-size: 50px
}
.header-bg{
    --background: var( --ion-color-primary);
    color:#ffffff
}
.content-bg{
    --ion-background-color: var( --ion-color-primary);
}
.card-time-details{
    --ion-background-color: #edeef2;
}
.card-body{
    font-family: "notified-medium";
    
    font-size: 15px
}
.icon-announcement{
    color:#ffffff   
}
.caught-body{
    font-size:30px
}
.card-class {
    background: #ffffff
    
}
.item-class{
    --background:  #ffffff;;
    color:gray
}