.content-card{
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
}