<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
            <ion-button (click)="this.transServe.backButtonTrans()">
                <ion-icon slot="start" name="arrow-round-back"></ion-icon>            
            </ion-button>     
        </ion-buttons>
      <ion-title>
        {{content}}
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content > 
    <div *ngIf="Dining">
      <ion-card class="content-card">
          <ion-card-header > 
            <ion-card-title  class="ion-text-center"> Tom & Ingga's <br>Top Recommended Restaurants</ion-card-title>              
          </ion-card-header>   
      </ion-card>   
      <ion-card class="content-card" *ngFor="let resto of topResto">
          <img src="{{resto.image_url}}"/>
          <ion-card-header> 
            <ion-card-title>{{resto.name}}</ion-card-title>    
            <ion-card-subtitle>{{resto.location}}</ion-card-subtitle>
          </ion-card-header>   
      </ion-card>     
      <ion-card class="content-card">
          <ion-card-header> 
            <ion-card-subtitle class="ion-text-center">see more at <br><a href="https://www.queenstownnz.co.nz/places-to-eat-and-drink/">queenstown places to Eat & Drink </a></ion-card-subtitle>
          </ion-card-header>   
      </ion-card> 
    </div>
    <div *ngIf="Itenerary">  
      <ion-card class="content-card">
          <ion-card-header > 
            <ion-card-title  class="ion-text-center">Wedding Itenerary</ion-card-title>
          </ion-card-header>   
      </ion-card>   
      <div *ngIf="(events|async)?.length === 0;else items">
        <img src="/assets/images/itenerary/slide.png"/>
        <h2 class="ion-text-center">To Be Announce!</h2>
        <p class="ion-text-center"><b>Wait for further Announcement</b><br>
           you will be notified when Events are added in this Itenerary!</p>
      </div>
      <ng-template #items>
        <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
          <ion-card class="content-card" *ngFor="let event of (events | async  | sort :'asc':'position' )">
            <ion-reorder slot="end"></ion-reorder>
            <img src="{{event.image_url}}"/>
            <ion-card-header> 
              <ion-card-title>{{event.name}}</ion-card-title>    
              <ion-card-subtitle>{{event.location}}</ion-card-subtitle>
            </ion-card-header>   
          </ion-card> 
        </ion-reorder-group>
      </ng-template>  
    </div>
</ion-content>
