<ion-header>
    <ion-toolbar mode="ios">
    <ion-buttons slot="start">
            <ion-button (click)="this.transServe.backButtonTrans()">
                <ion-icon slot="start" name="ios-arrow-back"></ion-icon>            
            </ion-button>     
        </ion-buttons>
      <ion-title>
        {{content}}
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content > 
    <div [hidden]="!Dining">
      <ion-card class="content-card">
          <ion-card-header > 
            <ion-card-title  class="ion-text-center"> Tom & Ingga's <br>Top Recommended Restaurants</ion-card-title>              
          </ion-card-header>   
      </ion-card>   
      <ion-card class="content-card" *ngFor="let resto of topResto">
          <ion-img src="{{resto.image_url}}"></ion-img>
          <ion-card-header> 
            <ion-card-title>{{resto.name}}</ion-card-title>    
            <ion-card-subtitle>{{resto.location}}</ion-card-subtitle>
          </ion-card-header>   
      </ion-card>     
      <ion-card class="content-card">
          <ion-card-header> 
            <ion-card-subtitle class="ion-text-center">see more at <br><a href="https://www.queenstownnz.co.nz/places-to-eat-and-drink/">queenstown places to Eat & Drink </a></ion-card-subtitle>
          </ion-card-header>   
      </ion-card> 
    </div>
    <div [hidden]="!Itinerary">  
      <ion-card class="content-card">
          <ion-card-header > 
            <ion-card-title  class="ion-text-center">Wedding Itinerary</ion-card-title>
          </ion-card-header>   
      </ion-card>   
      <div *ngIf="(events|async)?.length !== 0;else items"> 
        <div *ngIf="isAdmin;else nonAdmin">
              <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">                                
                <ion-card class="content-card" *ngFor="let event of (events | async  | sort :'asc':'position')" >  
                    <ion-item > 
                        <ion-reorder slot=start></ion-reorder> 
                        <ion-icon name="more" slot=end (click)="eventOptions(event)"></ion-icon>
                    </ion-item>      
                    <ion-img src="{{event.image_url}}"></ion-img>
                    <ion-card-header> 
                      <ion-card-title>{{event.name}}</ion-card-title>    
                      <ion-card-subtitle>{{event.location}}</ion-card-subtitle>
                    </ion-card-header> 
                </ion-card>                                                               
            </ion-reorder-group><br>                
        </div>    
        <ng-template #nonAdmin>
            <ion-card class="content-card" *ngFor="let event of (events | async  | sort :'asc':'position' )">              
              <ion-img src="{{event.image_url}}"></ion-img>
              <ion-card-header> 
                <ion-card-title>{{event.name}}</ion-card-title>    
                <ion-card-subtitle>{{event.location}}</ion-card-subtitle>
              </ion-card-header>   
            </ion-card> 
        </ng-template>   
      </div>
      <ion-button *ngIf="isAdmin"expand="full" color="dark" (click)="addEvent()">ADD EVENT</ion-button>    
      <ng-template #items>
          <ion-img src="/assets/images/Itinerary/slide.png"></ion-img>
          <h2 class="ion-text-center">To Be Announce!</h2>
          <p class="ion-text-center"><b>Wait for further Announcement</b><br>
             you will be notified when Events are added in this Itinerary!</p>
      </ng-template>  
    </div>
</ion-content>
