.content-card{
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    border-radius: 0;
    // margin-top: 0;
    // margin-bottom: 0;
    padding-top:0 !important;
    --background : #ffffff;
    padding-bottom: 10px;
    ion-card-title{
        padding-top:10px
    }
}
.more-icon{
    font-size:20px
}
.more-text{
    font-size: 14px;
    margin-right: 0px;
}
.img-container{
    height: 40vh;
    width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    padding-top:10px
  }
.dining-entree{
    padding-top:0px;
    font-size:15px;
}
.recom-text{
    font-size: 19px;
}
.schedule{
    font-size:10px
}
.event-name{
    font-size:20px
}
.itinerary-card{
    --background: #ffffff7a;
    color: #000000
}
.itinerary-item{
    --background:#dfe4f400
}
.admin-img{
    height:30vh
}
.card-details-input{
    font-size: 14px !important

}
.resto-content{
    margin-top: 0;
    margin-bottom: 0;
    padding-top:0 !important;
}
.buttons-pick-up{

    ion-button{
        font-size:14px;
    }
}
.card-title-input{

    --padding-top: 0px;
    --padding-bottom: 0px;
    font-size:16px !important
}
.wedding-info{
   height: 100%;
    ion-card-header{
        padding-bottom: 0px !important
    }
    ion-card-content{
        padding-top: 0px !important
    }
  
}
.details-card{
    ion-icon{
        font-size: 20px;
    }
    ion-textarea{
        font-size: 14px        
    }
    ion-input{
        font-size: 14px   
    }
    label{
        font-size: 14px   
    }
}
ion-textarea{
    height: auto !important;
}
.item-header{
    padding-bottom: 0px !important;
}
.item-title{
    font-size: 18px !important;
    font-weight: 550
}
.item-content{
    padding-top: 0px !important;
}
.item-card{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
}
ion-content{
    // background : url(../../assets/images/gradient4.jpg) no-repeat center center;
    // background-size: cover;     
    // --background: url(../../assets/images/gradient4.jpg)  no-repeat center center;
    // --background-size: cover;  
}
