<ion-header>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-button  class="pre-wedding-menu-button" color="dark" (click)="sharedComps.openMenu()">
            <ion-icon name="menu"></ion-icon>
          </ion-button>
          <ion-badge (click)="sharedComps.openMenu()" *ngIf="this.annServe.RsvpNotifCount>=1" slot="start" class="pulse pulse-on-button" color="danger">{{this.annServe.RsvpNotifCount}}</ion-badge>
      </ion-buttons>
      <ion-title>
        {{content}}
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content > 
    <div [hidden]="!Dining">
      <ion-card>
          <ion-card-header > 
            <ion-card-title  class="ion-text-center recom-text"> Tommy & Ingga<br> Recommends </ion-card-title>   
            <img src="../../assets/images/homepage/food.jpg" class="img-container" />           
          </ion-card-header>   
          <ion-card-content  class="ion-text-center dining-entree">
            There’s no better way to end your adventure filled day than with a delicious meal. We’ve narrowed down some of our favourite haunts that will fit every budget, from 3 Hats Cuisine 2019 awardee Amisfield Bistro & Cellar Door to food-truck 
            style Erik’s Fish & Chips. I think you’ll find that the food and wine in Queenstown will not disappoint!
        </ion-card-content>
      </ion-card>   
      <div *ngFor="let dine of contentServe.dines;let i = index" >
        <ion-card (click)="expandItem(dine)" class="item-card">
          <ion-card-header class="item-header" >  
              <ion-item lines="none">
                <ion-icon slot="end" name="ios-arrow-down"></ion-icon>
                <ion-card-title class="item-title">{{dine.title}}</ion-card-title>
              </ion-item>
          </ion-card-header>
          <ion-card-content class="ion-text-center item-content">
            <app-expandable expandHeight="300vh" [expanded]="dine.expanded">
              <div scroll="true">
                  <ion-list>
                      <div *ngFor="let resto of dine.restaurants"> 
                          <ion-card class="content-card" (click)="OpenDining(resto,i)">
                              
                              <ion-img src="{{resto.image_url}}"></ion-img>
                              <ion-card-header> 
                                <ion-card-title>{{resto.name}}</ion-card-title>    
                                <ion-card-subtitle>{{resto.location}}</ion-card-subtitle>
                              </ion-card-header>
                          </ion-card>
                      </div>
                    </ion-list>
              </div>
              
            </app-expandable>
          </ion-card-content>
        </ion-card>
      </div>
  


      <ion-card class="content-card">
          <ion-card-header> 
            <ion-card-subtitle class="ion-text-center">see more at <br><a href="https://www.queenstownnz.co.nz/places-to-eat-and-drink/">queenstown places to Eat & Drink </a></ion-card-subtitle>
          </ion-card-header>   
      </ion-card> 
    </div>
    <div [hidden]="!Itinerary">  
        <ion-card class="wedding-info" *ngIf="info">
            <img src="{{info.wedding_image}}" (click)="changeImage()" alt="" />
              <ion-card-header>
                <ion-card-title >
                    <ion-input class="card-title-input"
                      [(ngModel)]="info.location_name"  
                      (ionBlur)="saveItemWeddingInfo()"    
                      readonly="{{!isAdmin}}"
                      ></ion-input>
                  </ion-card-title>        
              </ion-card-header>   
              <ion-item  class="details-card">
                  <ion-icon name="map" slot="start"  color="medium" ></ion-icon> 
                      <ion-textarea   
                      [(ngModel)]="info.location_place"  
                      (ionBlur)="saveItemWeddingInfo()"    
                      readonly="{{!isAdmin}}"
                      autoGrow=true 
                      ></ion-textarea>            
                </ion-item>
                <ion-item class="details-card">
                  <ion-icon name="calendar" slot="start"  color="medium"></ion-icon>        
                      <ion-input   
                      [(ngModel)]="info.weddingDate"  
                      (ionBlur)="saveItemWeddingInfo()"    
                      readonly="{{!isAdmin}}"
                      ></ion-input>     
                </ion-item>
                <ion-item (click)=openMap() class="details-card">
                    <ion-icon name="car" slot="start"  color="medium"></ion-icon>        
                    <label> Get Directions <a></a></label>   
                    <ion-icon  slot="end" style="background: #00000000" color="medium"  name="eye"></ion-icon> 
                </ion-item>
              <ion-card-content>        
                <ion-textarea class="ion-text-justify" 
                autoGrow=true  
                [(ngModel)]="info.place_description"  
                (ionBlur)="saveItemWeddingInfo()"    
                readonly="{{!isAdmin}}"
                ></ion-textarea>        
              </ion-card-content>
          </ion-card>
        <div *ngIf="(events|async)?.length !== 0;else items">
          <ion-card class="wedding-info" *ngFor="let event of (event_data   | sort :'asc':'position')" >          
              <img src="{{event.image_url}}" alt="" />
                <ion-card-header>
                  <ion-card-title >
                      <ion-input class="card-title-input"
                        [(ngModel)]="event.name"  
                        (ionBlur)="saveItem(event)"
                        readonly="{{!isAdmin}}"
                        ></ion-input>
                    </ion-card-title>        
                </ion-card-header>   
                <ion-item class="details-card">
                    <ion-icon name="time" slot="start"  color="medium"></ion-icon>        
                        <ion-input   
                        [(ngModel)]="event.schedule"      
                        (ionBlur)="saveItem(event)"            
                        readonly="{{!isAdmin}}"
                        ></ion-input>     
                  </ion-item> 
                <ion-item class="details-card">
                    <ion-icon name="map" slot="start"  color="medium"></ion-icon>        
                        <ion-textarea    
                        [(ngModel)]="event.location"    
                        (ionBlur)="saveItem(event)"              
                        readonly="{{!isAdmin}}"
                        autoGrow=true 
                        ></ion-textarea >     
                </ion-item>                                      
                <ion-card-content>        
                  <ion-textarea class="ion-text-justify"
                  class="card-details-input ion-text-justify" 
                  [(ngModel)]="event.details"
                  (ionBlur)="saveItem(event)"
                  readonly="{{!isAdmin}}"
                  autoGrow=true 
                  
                  ></ion-textarea>      
                  <div *ngIf="event.name === 'Pick Up'" class="ion-text-justify"> 
                      <section class="buttons-pick-up">   
                        <ion-button expand="block" fill="outline" color="dark" (click)=openMap()>  <ion-icon name="map"></ion-icon> Get Directions</ion-button>
                        <ion-button *ngIf="authServ.userGuestDetails.reservation_status === '' ||authServ.userGuestDetails.reservation_status === 'declined'" expand="block" fill="outline" color="dark" (click)=openReservation(authServ.userGuestDetails.bus_reservation)>  <ion-icon name="bus"></ion-icon>Bus Reservation</ion-button>
                        <ion-button *ngIf="authServ.userGuestDetails.reservation_status === 'pending'" expand="block" fill="outline" color="warning" (click)="openReservation(authServ.userGuestDetails.bus_reservation)"> <ion-icon name="bus"></ion-icon>Pending Reservation</ion-button>
                        <ion-button *ngIf="authServ.userGuestDetails.reservation_status === 'approved'" expand="block" fill="outline" color="success" (click)="openReservation(authServ.userGuestDetails.bus_reservation,true)">  <ion-icon name="bus"></ion-icon>{{authServ.userGuestDetails.bus_reservation}} seats Approved</ion-button>
                      </section>                                
                  </div>
                  <div *ngIf="event.position === 5" class="ion-text-justify"> 
                      <section class="buttons-pick-up">                     
                        <ion-button expand="block" fill="outline" color="dark" (click)=openRestrictions(authServ.userGuestDetails.diet_restriction)>DIETARY RESTRICTONS</ion-button>                                             
                      </section>                                
                  </div>                    
                </ion-card-content>        
          </ion-card>                                                                   
        </div>   
      <!-- <div *ngIf="(events|async)?.length !== 0;else items"> 
        <ion-reorder-group  (ionItemReorder)="doReorder($event)" disabled="false" *ngIf="isAdmin;else nonAdmin">              
                <ion-card class="content-card" *ngFor="let event of (event_data   | sort :'asc':'position')" >  
                    <ion-item lines="none"> 
                        <ion-reorder slot=start></ion-reorder> 
                        <ion-icon name="more" slot=end (click)="eventOptions(event)"></ion-icon>
                    </ion-item>      
                    <ion-img class="admin-img"src="{{event.image_url}}"></ion-img>
                    <ion-card-header> 
                      <ion-card-title>{{event.name}}</ion-card-title>    
                      <ion-card-subtitle>Time: {{event.schedule}} </ion-card-subtitle>
                      <ion-card-subtitle>{{event.location}}</ion-card-subtitle>
                    </ion-card-header> 
                </ion-card>                                                                     
        </ion-reorder-group>    
        <ng-template #nonAdmin>
            <ion-card  *ngFor="let event of (event_data  | sort :'asc':'position' )" (click)="expandItem(event)"  class="itinerary-card">                                
              <ion-card-header>    
                <ion-item lines="none" class="itinerary-item">
                    <ion-card-title  class="schedule" slot="end">{{event.schedule}} <ion-icon  name="ios-arrow-down"></ion-icon></ion-card-title>                    
                    <ion-card-title class="event-name">{{event.name}}</ion-card-title>
                </ion-item>
              </ion-card-header>
              <ion-card-content class="content-card">
                  <app-expandable expandHeight="100vh" [expanded]="event.expanded">  
                  <ion-img src="{{event.image_url}}"></ion-img>
                  <br>        
                  <div class="ion-text-justify" style="font-size: 12px;">{{event.location}}
                      <ion-text *ngIf="event.name === 'Pre-Dinner Drinks'" class="ion-text-justify" style="font-size: 12px;"> at <a (click)=openReception()>The Grille at Eichardt</a></ion-text>
                  </div>                                              
                  <div *ngIf="event.name === 'Ceremony'" class="ion-text-justify" style="font-size: 12px;"><br>From central queenstown to Jack’s retreat for those who want to drive there themselves <a (click)=openMap()>"Get There"</a></div>                    
                  </app-expandable>
              </ion-card-content>                        
            </ion-card> 
        </ng-template>   
      </div>
      <ion-button *ngIf="isAdmin"expand="full" color="dark" (click)="addEvent()">ADD EVENT</ion-button>    
      <ng-template #items>
          <ion-img src="/assets/images/itenerary/slide.png"></ion-img>
          <h2 class="ion-text-center">To Be Announce!</h2>
          <p class="ion-text-center"><b>Wait for further Announcement</b><br>
             you will be notified when Events are added in this Itinerary!</p>
      </ng-template>   -->
    </div>
</ion-content>
