@import "../theme/variables.scss";

@font-face {
  font-family: 'exmouth';
  src: url("../assets/fonts/GreatVibes-Regular.ttf") format('truetype');    
};
@font-face {
  font-family: 'notified';
  src: url("../assets/fonts/GothamRounded.ttf") format('truetype');    
};
@font-face {
  font-family: 'notified-light';
  src: url("../assets/fonts/GothamRoundedLight.ttf") format('truetype');    
};
@font-face {
  font-family: 'notified-medium';
  src: url("../assets/fonts/GothamRoundedMedium.ttf") format('truetype');    
};
@font-face {
  font-family: 'roboto';
  src: url("../assets/fonts/roboto.ttf") format('truetype');    
};
@font-face {
  font-family: 'sail-regular';
  src: url("../assets/fonts/Sail-Regular.ttf") format('truetype');    
};
.icon-container{
  border-radius: 50%;
  width: 40vw;
  height: 40vw;   
  // margin: 15vh 0 15px 0;       
  object-fit: cover;
  
  // border: 7px solid #d3dcfa;
  // border :7px solid #2cc0e8;
   border: 4px solid #e6e6e7;
  //  border: 7px solid #ffffff;
}
.icon-first{
  border-radius: 50% !important;;
  width: 40vw !important;
  height: 40vw !important;     
  margin: 17vh 0 -20px 0 !important;;  
  object-fit: cover !important;;
  // border: 7px solid #d3dcfa;
  // border :7px solid #2cc0e8;
  //  border: 4px solid #e6e6e7;
}
.content{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  // background : url(../assets/images/login_cover.jpg) no-repeat center center;
  background-size: cover;   
}
.page-centered-element {
    position: absolute;
    left: 0;
    right: 0;
    top: 25vh;
    bottom: 0;
    align-items: center;
    justify-content: center;
  }
  .container-title{
    color: #040405;
    font-size: 20px;
  }
  .tags{
    font-size:13px;
    position: fixed;;
    color:var(--ion-color-dark, #222428)  !important;
    left: 0;
    right: 0;
    bottom: 10px;
    align-items: center;
    justify-content: center;
  }
  .h1-text{
    font-family: "exmouth";
    font-size: 60px !important
  }
  .wc-text{
    font-family: "exmouth";
    font-size: 6.5vh !important;
  }
  .notified-text{
  font-family: "roboto" !important;
    font-size: 5vh !important;
    margin-top: 30vh;
  }
  .notified-text-up{
    font-family: "notified-light" !important;
    font-size: 3vh !important;
  }
  .notified-text-custom{
    font-family: "roboto" !important;
    font-size:4.5vh;
    margin-top: 35vh;
  }
  .h6-text{
  font-family: "roboto" !important;    
    padding-left:20px;
    padding-right:20px
  }
  .first-title{
  font-family: "roboto" !important;
    font-size: 5vh !important;
  }
  .first-p{
    font-size: 18px !important
  }
  .slide-icon{
    width: 70vw;
    height: 70vh;
    border-radius: 38px;
    // position: absolute;
    display: unset;
    top: 0;
    bottom: 0;
    right: 0;
    left: 12%;
    text-align: center; 
  }
  .content {
    text-align: center;
    color: white;
  
    h1 {
      font-size: 50px;
    }
  
    .buttons-container {
      margin-top: 15px;
      width: 80%;
      margin-left: 10%;
      /* margin-right: 26%; */
      align-items: center;
      border: 3px solid #e6e6e7;
      border-radius: 7px;
      padding-bottom: 10px;
      ion-button{
        margin-top:15px
      }
      ion-label{
        padding-right: 10px;
        font-size:15px
      }
      ion-item{
        padding-right: 15px;
      }
    }
  }
  ion-fab-button[data-desc] {
    position: relative;
  }
  
  ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 50px ;
    bottom: 4px;
    background-color: var(--ion-color-light);
    padding: 9px;
    border-radius: 15px;
    color: var( --ion-color-dark);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }

  ion-slides {
    height: 100% !important;

    // background: var(--ion-color-primary);
    color: #fff;   
    font-weight: 50 !important;
    ion-icon{
      font-size: 80px;
    }
    ion-slide { 
      align-items: start;
      text-align: center;    
 
      .slide-content {
        border-radius: 20px;
        // background:rgba(6, 87, 197, 0.45) !important;
        position: absolute;
        top:0;bottom:0;left:0;right:0;
        padding: 30px 5%;
        p {
          margin-top: 0px;
          font-family: "roboto" !important;  
          font-size:15px 
        }          
      }
  
    }
    
    ion-slide:first-child{
      // background-color: #d0e4f0 !important;
      background: url("../assets/images/login_cover.jpg");
      background-size: cover;
      color: #1e2023 !important;
    }   
    ion-slide:nth-child(2){
      background: url("../assets/images/login_cover.jpg");
      background-size: cover;     
      color: #1e2023 !important;
    }     
    ion-slide:nth-child(3){
      background: url("../assets/images/login_cover.jpg");
      background-size: cover;    
      color: #1e2023 !important  

    }    
    ion-slide:nth-child(4){
      background: url("../assets/images/login_cover.jpg");
      background-size: cover;    
      color: #1e2023 !important;
    } 
    ion-slide:nth-child(5){
      background: url("../assets/images/login_cover.jpg");
      background-size: cover;     
      color: #1e2023 !important;
    } 
    ion-slide:nth-child(6){
      background-color :#FFFFFF;
      background-size: cover;  
      color: #1e2023  !important   
    }
    .slider .slider-pager {
      text-align: right;
   } 
  }  
 