@import "../theme/variables.scss";
@font-face {
  font-family: 'exmouth';
  src: url("../assets/fonts/GreatVibes-Regular.ttf") format('truetype');    
};
@font-face {
  font-family: 'notified';
  src: url("../assets/fonts/GothamRounded.ttf") format('truetype');    
};
@font-face {
  font-family: 'notified-light';
  src: url("../assets/fonts/GothamRoundedLight.ttf") format('truetype');    
};
@font-face {
  font-family: 'notified-medium';
  src: url("../assets/fonts/GothamRoundedMedium.ttf") format('truetype');    
};
.page-centered-element {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .h1-text{
    font-family: "exmouth";
    font-size: 60px !important
  }
  .wc-text{
    font-family: "exmouth";
    font-size: 6.5vh !important;
  }
  .notified-text{
    font-family: "notified-medium";
    font-size: 5vh !important;
    margin-top: 30vh;
  }
  .notified-text-up{
    font-family: "notified-medium";
    font-size: 5vh !important;
    margin-top: 25vh;
  }
  .h6-text{
    font-family: "notified-light";    
    padding-left:20px;
    padding-right:20px
  }
  .content {
    text-align: center;
    color: white;
  
    h1 {
      font-size: 50px;
    }
  
    .buttons-container {
      margin-top: 30px;
    }
  }
  ion-fab-button[data-desc] {
    position: relative;
  }
  
  ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--ion-color-light);
    padding: 9px;
    border-radius: 15px;
    color: var( --ion-color-dark);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }

  ion-slides {
    height: 100% !important;

    // background: var(--ion-color-primary);
    color: #fff;   
    font-weight: 50 !important;
    ion-slide { 
      align-items: start;
      text-align: center;    
 
      .slide-content {
        background:rgba(6, 87, 197, 0.45) !important;
        position: absolute;
        top:0;bottom:0;left:0;right:0;
        padding: 30px 5%;
        p {
          margin-top: 0px;
          font-family: notified-light;      
          font-size:15px 
        }       
        img{           
          border-radius: 50%;
          width: 45vw;
          height: 45vw;     
          margin: 15vh 0 15px 0;       
          object-fit: cover;
          
          border: 7px solid #d3dcfa;
        }
      }
  
    }
    ion-slide:first-child{
      background : url("../assets/images/home.jpg") no-repeat center center;
      background-size: cover;;
    }   
    ion-slide:nth-child(2){
      background : url(../assets/images/see_and_do.jpg) no-repeat center center;
      background-size: cover;     
    }     
    ion-slide:nth-child(3){
      background : url(../assets/images/notify.jpg) no-repeat center center;
      background-size: cover;     
    }    
    ion-slide:nth-child(4){
      background : url(../assets/images/chat.jpg) no-repeat center center;
      background-size: cover;     
    } 
    ion-slide:nth-child(5){
      background : url(../assets/images/memories.jpg) no-repeat center center;
      background-size: cover;     
    } 
    ion-slide:nth-child(6){
      background : url(../assets/images/prepare.jpg) no-repeat center center;
      background-size: cover;     
    }
    .slider .slider-pager {
      text-align: right;
   } 
  }  
 