

<ion-app *ngIf="(authService.user | async)">
  
  <ion-fab horizontal="end" vertical="top" slot="fixed" class="bow-tie-fab" *ngIf=adminUser>
    <ion-fab-button color="dark">
      <ion-icon name="bowtie"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="left">     
      <ion-fab-button (click)="reRoute('guestlist')" color="light" data-desc="Guest List">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="reRoute('admin-announcement')"color="light" data-desc="Create Announcement">
        <ion-icon name="megaphone"></ion-icon>     
      </ion-fab-button>
      <ion-fab-button (click)="reRoute('admin-messaging')" color="light" data-desc="Create Group Chat">
        <ion-icon name="contacts"></ion-icon>        
      </ion-fab-button>
      <ion-fab-button (click)="goToItinerary()" color="light" data-desc="Edit Itinerary">
        <ion-icon name="list-box"></ion-icon>    
      </ion-fab-button>
      <ion-fab-button (click)="reRoute('rsvp-admin')" color="light" data-desc="Edit RSVP Page">
        <ion-icon name="mail"></ion-icon>    
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <app-footer></app-footer>     

</ion-app>

<ion-app *ngIf="!(authService.user | async)">
  <ion-content force-overscroll="false">
      <!-- <gl-background-video src="../assets/video/g/poster.mp4" poster="../assets/video/g/poster.png" [hidden]="hideLogin"></gl-background-video> -->
      <ion-slides [options]="slideOptions" pager="true" [hidden]="hideSlide" *ngIf=image_links class="logins">
          <ion-slide>
            <div class="slide-content" >
                <img class="icon-first" src="../assets/images/icon.png">
                <h1 class="first-title">WedVite</h1>
                <p class="first-p"> Helping you plan a <br> seamless destination wedding. </p>
                <br>
                <!-- <p> "Some Welcome Messsage and Intro About the App"</p>                 -->
            </div>
          </ion-slide>  
          <ion-slide *ngIf=isAndroid>
              <ion-card  class="slide-content">   
                  <h1 class="notified-text-up">Digital Wedding<br> Static Page</h1>      
                  <img [class]="image_class" src="{{image_links.s5}}">
                  <!-- <ion-icon name="bowtie"></ion-icon> -->                 
                  <p> Create a personalised beautiful static invite page for your wedding and email your guests from within the app.</p>
                  <br>
                  <!-- <p> "Some Wordings "</p>                 -->
              </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card  class="slide-content">                  
                <h1 class="notified-text-up"> Digital RSVP and <br>Reminders</h1>
                <img [class]=" image_class" src="{{image_links.s1}}">                                                                                                                                                                                              
                <!-- <ion-icon name="mail"></ion-icon> -->
                <p>With real-time updates you can send wedding invites, reminders, track who’s coming, who’s not and any special guest requirements. </p>
                <br>
                <!-- <p> "Some Wordings "</p> -->
                <br>                         
            </ion-card>            
          </ion-slide>
          <ion-slide>
              <ion-card  class="slide-content">   
                  <h1 class="notified-text-up">Pre-wedding<br> Suggestions</h1>      
                  <img [class]="image_class" src="{{image_links.s2}}">
                  <!-- <ion-icon name="bowtie"></ion-icon> -->                 
                  <p> Help your guests plan and make the most of the destination wedding with helpful suggestions covering visa requirements, flights, transportation, accommodation, dining, sightseeing and more.</p>
                  <br>
                  <!-- <p> "Some Wordings "</p>                 -->
              </ion-card>
          </ion-slide>
          <ion-slide>
              <ion-card  class="slide-content">      
                    <h1 class="notified-text-up">Live Announcements <br> and Group Chats</h1>
                    <img [class]="image_class" src="{{image_links.s3}}">                                                                                                                                                                                           
                    
                    <!-- <ion-icon name="notifications"></ion-icon> -->                    
                    <p>Keep your guests in the loop before and on the wedding day with ease via live announcements and group chats. </p>
                    <br>
                    <!-- <p> "Some Wordings "</p>                 -->
              </ion-card >
          </ion-slide>
          <ion-slide>
                <ion-card  class="slide-content">      
                      <h1 class="notified-text-up">Upload and Share<br> Photos </h1>
                      <img [class]="image_class" src="{{image_links.s4}}">
                      <p>Your guests can access the photo gallery with easy bulk photo-uploading and multi-platform sharing functionality, giving all of your guests the freedom to contribute, view and share photos of your special day. </p>
                      <br>                      
                </ion-card >
          </ion-slide>  
          <ion-slide>
              <div class="slide-content">                                                                                                                                                                                                      
                  <h1 class="notified-text-custom">Get Started Now</h1>
                  <p>  What are you waiting for?</p>
                  <br>
                  <ion-button (click)="getStarted()" color="dark">Login!</ion-button>
                  <!-- <p> "Some Wordings "</p>                 -->
              </div>
          </ion-slide>                            
      </ion-slides>    
    <div class="content" [hidden]="hideLogin" >
      <div class="page-centered-element" >
        <!-- <h1 class="h1-text">Tom & Ingga</h1> -->
        <!-- <h6 class="h6-text">Requesting the Honour of Your Presence to Celebrate Their Marriage</h6> -->
        <img class="icon-container" src="../assets/images/icon.png">
        <h4 class="container-title" color="dark">WedVite</h4>
        <div class="buttons-container"> 
            <!-- <ion-input type="text" [(ngModel)]="email" color="dark" placeholder="Email"></ion-input> -->
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" [(ngModel)]="email" color="dark" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" color="dark"  [(ngModel)]="password"></ion-input>
              </ion-item>
              <p (click)="actions.forgotPassword()" class="f-pass">Forgot password?</p>
            <!-- <ion-input type="password" color="dark"  [(ngModel)]="password" placeholder="Password"> </ion-input> -->
          <ion-button (click)="login()" [disabled]="!email || !password" color="dark"  >Login</ion-button>
        </div>
        <h6 class="tags" color="dark">Made with ❤ in the Philippines by ProSource</h6>
      </div>
    </div>
  </ion-content>    
</ion-app>

