@import "../theme/variables.scss";
@font-face {
  font-family: 'exmouth';
  src: url("../assets/fonts/exmouth.ttf") format('truetype');    
}
.page-centered-element {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .h1-text{
    font-family: "exmouth";
    font-size: 60px !important
  }
  .h6-text{
    font-family: "Calibri";    
    padding-left:20px;
    padding-right:20px
  }
  .content {
    text-align: center;
    color: white;
  
    h1 {
      font-size: 50px;
    }
  
    .buttons-container {
      margin-top: 30px;
    }
  }
  ion-fab-button[data-desc] {
    position: relative;
  }
  
  ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--ion-color-light);
    padding: 9px;
    border-radius: 15px;
    color: var( --ion-color-dark);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }