<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Guest List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-list>
    <div *ngFor="let guest of (guests | async)">
      <ion-item *ngIf="(guest.isAdmin == false)" >
        <ion-avatar slot="start">
          <img src="../../assets/icon/iconM.png">
        </ion-avatar>
        <ion-label>
          <h2>{{ guest.first_name }}  {{guest.last_name}}</h2>
          <h3>{{ guest.position }} </h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content> 