@import "../../theme/variables.scss";
.guests{
    h2{
        font-size:15px
    }
}
.footer{
    h3{
        font-size: 30px;
        text-align: center;        
    }  
    .attend{
        color: var( --ion-color-success);
    }

    .not{
        color :  var(--ion-color-danger);
    }
    .all{
        color :  var(--ion-color-dark);
    }
    .overall{
        color :  var(--ion-color-primary);
    }
    h4 {
        text-align: center;
        font-size: 10px
    }
}