<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="reRoute('guestadd')">Add Guest</ion-button>
    </ion-buttons>
    <ion-title>
      Guest List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
    
  <ion-list>
      <ion-list-header>
          <ion-row style="width:100%">
            <ion-col class="ion-text-left" (click)="changeSort('first_name')">
              Guests
            </ion-col> 
            <ion-col  class="ion-text-center" (click)="changeSort('will_come')">
              Status
            </ion-col>
          </ion-row>
      </ion-list-header>
    <div *ngFor="let guest of (guest_array | sort :sortFlow:sortValue )" (click)="expandItem(guest)" >    
        <!-- <ion-label class="guests"> -->
          <ion-item *ngIf="(guest.isAdmin == false)" >   
              <ion-row style="width:100%">
                  <ion-col class="ion-text-left">
                      <h2 style.color="{{guest.color}}" style="text-transform: capitalize">{{ guest.first_name }}  {{guest.last_name}}</h2>  
                  </ion-col>            
                  <ion-col class="ion-text-center">
                      <h2 *ngIf="guest.will_come; else notAttending" >
                          <ion-badge color="success">Accepted</ion-badge>
                        </h2>                 
                        <ng-template #notAttending>
                          <h2 >
                            <ion-badge [color]="guest.forRsvp?'warning':'danger'" >{{guest.forRsvp?'Pending':'Declined'}}</ion-badge>
                          </h2>            
                        </ng-template>
                  </ion-col>                
              </ion-row>                                  
          </ion-item>
          <app-expandable expandHeight="20vh" [expanded]="guest.expanded">
              <ion-list class="expandables">               
                <ion-item>
                  <ion-col>
                      Email:
                  </ion-col>
                  <ion-col class="ion-text-center">
                    {{guest.email}}
                  </ion-col>
                </ion-item>
                <ion-item>
                    <ion-col>
                        Number:
                    </ion-col>
                    <ion-col class="ion-text-center">
                      {{guest.number||'#'}}
                    </ion-col>
                </ion-item>
                <ion-item>
                    <ion-col>
                        Assigned Color:
                    </ion-col>
                    <ion-col  class="ion-text-center">
                      <ion-icon [style.color]=guest.color name="square"></ion-icon> {{guest.color}}
                    </ion-col>
                </ion-item>
              </ion-list>
          </app-expandable> 
        <!-- </ion-label>    -->
    </div>
  </ion-list>
</ion-content> 
<ion-footer class="footer" *ngIf="footer_details">
  <ion-row>
      <ion-col class="not">          
          <h3>{{footer_details.n_attending}}</h3>
          <h4>Will Not Attend</h4>
      </ion-col>     
      <ion-col class="pending">                  
        <h3>{{footer_details.pendings}}</h3>
        <h4>Pending</h4>
      </ion-col>
      <ion-col class="attend">      
          <h3>{{footer_details.attending}}</h3>
          <h4> Will Attend</h4>
      </ion-col>
      <ion-col class="all">                  
          <h3>{{footer_details.all_guest}}</h3>
          <h4>All Guest</h4>
      </ion-col> 
  </ion-row>  
</ion-footer>