@import "../../theme/variables.scss";

    h2{
        font-size:12px
    }
ion-col{
    text-align: center
}
.expandables{
    ion-col{
        font-size:12px;
        text-align: left
    }
}
.footer{
    h3{
        font-size: 30px;
        text-align: center;        
    }  
    .attend{
        color: var( --ion-color-success);
    }

    .not{
        color :  var(--ion-color-danger);
    }
    .all{
        color :  var(--ion-color-tertiary);
    }
    .overall{
        color :  var(--ion-color-primary);
    }
    .pending{
        color :  var(--ion-color-warning);
    }
    h4 {
        text-align: center;
        font-size: 10px
    }
}