<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="reRoute('guestadd')">Add Guest</ion-button>
    </ion-buttons>
    <ion-title>
      Guest List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-list>
    <div *ngFor="let guest of (guests | async)">    
        <ion-label>
          <ion-item *ngIf="(guest.isAdmin == false)" >   
            <ion-icon name="shirt" style.color="{{guest.color}}" slot="start"></ion-icon>
            <h2 style="text-transform: capitalize" style.color="{{guest.color}}">{{ guest.first_name }}  {{guest.last_name}}</h2>               
            <h2 *ngIf="guest.will_come; else notAttending" slot="end">          
                <ion-text color="success">will attend</ion-text>   
                <ion-icon name="checkmark" color="success"></ion-icon>
            </h2>            
            <ng-template #notAttending>
              <h2 slot="end">
                <ion-text color="danger">will not attend</ion-text>   
                <ion-icon name="close" color="danger"></ion-icon>
              </h2>            
            </ng-template>
          </ion-item>
        </ion-label>
 
    </div>
  </ion-list>
</ion-content> 