<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-button  class="pre-wedding-menu-button" color="dark" (click)="sharedComps.openMenu()">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
        <ion-badge (click)="sharedComps.openMenu()" *ngIf="this.annServe.RsvpNotifCount>=1" slot="start" class="pulse pulse-on-button" color="danger">{{this.annServe.RsvpNotifCount}}</ion-badge>     
    </ion-buttons>
    <ion-title>See & Do</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center" > Things to do in Queenstown </ion-card-title>
        <img src="/assets/images/see_and_do.jpg" alt="" class="img-container"/>
      </ion-card-header>   
      <ion-card-content  class="ion-text-center">
          Queenstown is a natural playground providing an incredible backdrop for a range of sights to see and things to do for adventurers of all persuasions.
      </ion-card-content>
  </ion-card >
  <ion-card (click)="expandItem(item)" *ngFor="let item of items" class="item-card">
    <ion-card-header class="item-header">  
        <ion-item lines="none">
          <ion-icon slot="end" name="ios-arrow-down"></ion-icon>
          <ion-card-title class="item-title">{{item.title}}</ion-card-title>
        </ion-item>
    </ion-card-header>
    <ion-card-content class="ion-text-center item-content">
      <app-expandable expandHeight="70vh" [expanded]="item.expanded">
          <img src="{{item.image_link}}" alt="" class="img-container"/>
          <br>
         {{item.text}}
         <a href="{{item.url}}"> 
         {{item.url_tag}}
         </a>
      </app-expandable>
    </ion-card-content>
  </ion-card>
</ion-content>
