<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="this.transServe.backButtonTrans()">
              <ion-icon slot="start" name="arrow-round-back"></ion-icon>            
          </ion-button>     
      </ion-buttons>
    <ion-title>See & Do</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card class="welcome-card">
      <img src="/assets/images/see_and_do.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Whats Happening?</ion-card-subtitle>
        <ion-card-title>Party Time!</ion-card-title>    
      </ion-card-header>
      <ion-card-content >
        Will be followed by: <b>After Party Dance</b>
      </ion-card-content>
  </ion-card>
</ion-content>
