.weather-card-list{
    ion-item {
        font-size: 15px !important
    }
}
// ion-card{ border-radius : 0px; }
ion-slide img{
    // box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
    height: 400px;
}
.item-header{
    padding-bottom: 0px !important;
}
.item-title{
    font-size: 18px !important;
    font-weight: 550
}
.item-content{
    padding-top: 0px !important;
}
.item-card{
    margin-top: 0px !important;
    margin-bottom: 0px !important
}
.img-container{
    height: 40vh;
    width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
  }