<ion-header>
    <ion-toolbar>
      <ion-title>Bus Reservations</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
  
  <ion-item *ngFor="let guest of (guestServe.bus_guests)"(click)=actions.reserveConfirmPrompt(guest.uid)>
    <ion-label>        
        <h2 style="text-transform: capitalize"> {{guest.first_name}} {{guest.last_name}} <ion-icon class="font-icon" name="bus"></ion-icon></h2>  
        <p>Seat Count:<b> {{guest.bus_reservation }}</b><br></p>  
        <p> Status:<b style="text-transform: capitalize"> {{guest.reservation_status }}</b><br></p>  
    </ion-label>
    <h2 slot="end">        
        <ion-badge *ngIf="guest.reservation_status==='approved'" color="success">{{guest.bus_reservation}} seat/s</ion-badge>    
        <ion-badge *ngIf="guest.reservation_status==='pending'"  color="warning">{{guest.bus_reservation}} seat/s</ion-badge>    
        <ion-badge *ngIf="guest.reservation_status==='declined'"  color="danger">{{guest.bus_reservation}} seat/s</ion-badge>                          
    </h2>  
  </ion-item>

</ion-content>
