<ion-header translucent="true" no-border  >
  <ion-toolbar class="header-bg" mode="ios">
    <ion-buttons slot="start">
       <span class="backto" (click)=this.footerFunc.goToMessages()> <ion-icon name="ios-arrow-back"></ion-icon>Groups </span>
    </ion-buttons>
    <ion-title *ngIf="chat$ | async as chat" (click)=openDetails() >
      {{ chat.group_name }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="message-bg" [scrollEvents]="true"  forceOverscroll=false> 
  <!-- <div class="ion-text-center" [hidden]="SeeMore" >{{Scroll_Message}} </div> -->
  <ion-infinite-scroll threshold={{scrollThreshold}}  (ionInfinite)="loadData($event)"  position="top">
    <ion-infinite-scroll-content [hidden]="hide_scroll" loading-spinner="crescent">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-grid *ngIf="chat$ | async as chat">
    <ion-row #messages *ngFor="let msg of chat.messages.slice(current_index,current_length);let i = index; trackBy: trackByCreated" 
    [ngClass]="msg.user.uid !== currentUser?'':'ion-justify-content-end'">
        <ion-col size="auto" *ngIf="msg.user.uid !== currentUser" class="message other-message">   
        <!-- <ion-col size="9" *ngIf="msg.user.uid !== currentUser" class="message other-message">    -->
          <div class="username" [style.color]=msg.user.color><b >{{ msg.user.first_name}}  {{ msg.user.last_name }}</b><br></div>
          <div class="image_container">
            <ion-skeleton-text *ngIf="msg.image" animated></ion-skeleton-text>
            <ion-img [src]="msg.image"
            (ionImgDidLoad)="imageLoaded($event,true,i,current_length)"
            (click)= imageClick(msg.image)
            ></ion-img>
          </div>         
          <span>{{ msg.content }}</span>
          <div class="time" text-right><br>{{ msg.createdAt | date:'h:mm a' }}</div>
        </ion-col>  
        <!-- <ion-col size="auto" *ngIf="msg.user.uid === currentUser" class="message my-message"> -->
        <ion-col size="auto" *ngIf="msg.user.uid === currentUser" class="message my-message ion-justify-content-end">
          <!-- <b class="username">{{ msg.user.first_name}} {{ msg.user.last_name }}</b><br> -->
          <div class="image_container">
            <ion-skeleton-text *ngIf="msg.image" animated></ion-skeleton-text>
            <ion-img [src]="msg.image"
            (ionImgDidLoad)="imageLoaded($event,true,i,current_length)"
            (click)= imageClick(msg.image)
            ></ion-img>   
          </div>       
            <span>{{ msg.content }}</span>
            <div class="time" text-right><br>{{ msg.createdAt | date:'h:mm a' }}</div>          
        </ion-col>
        <!-- <ion-col size="auto" *ngIf="msg.group_notif" class="message my-message ion-justify-content-center">         
              <span>{{ msg.content }}</span>       
        </ion-col> -->
      </ion-row>                
  </ion-grid>   
  <ng-template #chatHolder >
      <ion-grid>
        <ion-row class="ion-justify-content-end" >     
            <!-- <ion-col size="auto" *ngIf="msg.user.uid === currentUser" class="message my-message"> -->
            <ion-col size="auto" class="message my-message ion-justify-content-end">
              <!-- <b class="username">{{ msg.user.first_name}} {{ msg.user.last_name }}</b><br> -->
              <span><ion-skeleton-text style="width:10vw" animated></ion-skeleton-text></span>
              <div class="time" text-right><br><ion-skeleton-text style="width:100vw" animated></ion-skeleton-text> </div>
            </ion-col>  
        </ion-row> 
        <ion-row >     
              <!-- <ion-col size="auto" *ngIf="msg.user.uid === currentUser" class="message my-message"> -->
              <ion-col size="auto" class="message other-message">
                <!-- <b class="username">{{ msg.user.first_name}} {{ msg.user.last_name }}</b><br> -->
                <span><ion-skeleton-text style="width:10vw" animated></ion-skeleton-text></span>
                <div class="time" text-right><br><ion-skeleton-text style="width:100vw" animated></ion-skeleton-text> </div>
              </ion-col>  
        </ion-row>
        <ion-row >     
              <!-- <ion-col size="auto" *ngIf="msg.user.uid === currentUser" class="message my-message"> -->
              <ion-col size="auto" class="message other-message">
                <!-- <b class="username">{{ msg.user.first_name}} {{ msg.user.last_name }}</b><br> -->
                <span><ion-skeleton-text style="width:10vw" animated></ion-skeleton-text></span>
                <div class="time" text-right><br><ion-skeleton-text style="width:100vw" animated></ion-skeleton-text> </div>
              </ion-col>  
          </ion-row>   
          <ion-row  >     
              <!-- <ion-col size="auto" *ngIf="msg.user.uid === currentUser" class="message my-message"> -->
              <ion-col size="auto" class="message other-message">
                <!-- <b class="username">{{ msg.user.first_name}} {{ msg.user.last_name }}</b><br> -->
                <span><ion-skeleton-text style="width:10vw" animated></ion-skeleton-text></span>
                <div class="time" text-right><br><ion-skeleton-text style="width:100vw" animated></ion-skeleton-text> </div>
              </ion-col>  
          </ion-row>   
          <ion-row class="ion-justify-content-end" >     
              <!-- <ion-col size="auto" *ngIf="msg.user.uid === currentUser" class="message my-message"> -->
              <ion-col size="auto" class="message my-message ion-justify-content-end">
                <!-- <b class="username">{{ msg.user.first_name}} {{ msg.user.last_name }}</b><br> -->
                <span><ion-skeleton-text style="width:10vw" animated></ion-skeleton-text></span>
                <div class="time" text-right><br><ion-skeleton-text style="width:100vw" animated></ion-skeleton-text> </div>
              </ion-col>  
          </ion-row>   
          <ion-row class="ion-justify-content-end" >     
              <!-- <ion-col size="auto" *ngIf="msg.user.uid === currentUser" class="message my-message"> -->
              <ion-col size="auto" class="message other-message">
                <!-- <b class="username">{{ msg.user.first_name}} {{ msg.user.last_name }}</b><br> -->
                <span><ion-skeleton-text style="width:10vw" animated></ion-skeleton-text></span>
                <div class="time" text-right><br><ion-skeleton-text style="width:100vw" animated></ion-skeleton-text> </div>
              </ion-col>  
          </ion-row>   
          <ion-row  >     
              <!-- <ion-col size="auto" *ngIf="msg.user.uid === currentUser" class="message my-message"> -->
              <ion-col size="auto" class="message other-message">
                <!-- <b class="username">{{ msg.user.first_name}} {{ msg.user.last_name }}</b><br> -->
                <span><ion-skeleton-text style="width:10vw" animated></ion-skeleton-text></span>
                <div class="time" text-right><br><ion-skeleton-text style="width:100vw" animated></ion-skeleton-text> </div>
              </ion-col>  
          </ion-row>   
          <ion-row  >     
              <!-- <ion-col size="auto" *ngIf="msg.user.uid === currentUser" class="message my-message"> -->
              <ion-col size="auto" class="message other-message">
                <!-- <b class="username">{{ msg.user.first_name}} {{ msg.user.last_name }}</b><br> -->
                <span><ion-skeleton-text style="width:10vw" animated></ion-skeleton-text></span>
                <div class="time" text-right><br><ion-skeleton-text style="width:100vw" animated></ion-skeleton-text> </div>
              </ion-col>  
          </ion-row>   
          <ion-row class="ion-justify-content-end" >     
              <!-- <ion-col size="auto" *ngIf="msg.user.uid === currentUser" class="message my-message"> -->
              <ion-col size="auto" class="message my-message ion-justify-content-end">
                <!-- <b class="username">{{ msg.user.first_name}} {{ msg.user.last_name }}</b><br> -->
                <span><ion-skeleton-text style="width:10vw" animated></ion-skeleton-text></span>
                <div class="time" text-right><br><ion-skeleton-text style="width:50vw" animated></ion-skeleton-text> </div>
              </ion-col>  
          </ion-row>   
                            
      </ion-grid>  
  </ng-template>

</ion-content>
<ion-footer >
  <ion-toolbar color="light">
      <ion-row no-padding align-items-center [hidden]=hide_image>
          <ion-col size="12">
              <div><ion-spinner class="spinner-loader-class" [hidden]=!uploading ></ion-spinner></div>
            <ion-img [src]="temp_image" 
              [class]="temp_image_frb" [hidden]=hide_image >
            </ion-img>   
          </ion-col>
    </ion-row>
    <ion-row no-padding align-items-center>
      <ion-col size="10" >
        <ion-textarea  *ngIf="chat$ | async as chat"
         #message_input
         class="message-input" maxRows="5"
         rows= "1"
         autosize 
         autoGrow=true 
         (ionFocus)="seen_chat()"
         [(ngModel)]="newMsg" 
         (keydown.enter)="submit($event,chat.id,chat.group_name)"
          ></ion-textarea>
      </ion-col>
      <ion-col size="2" *ngIf="chat$ | async as chat">
        <ion-button [hidden]="newMsg === ''" #sendButton expand="block" fill="clear" color="primary" [disabled]="uploading"  class="msg-btn"(click)="submit($event,chat.id,chat.group_name)">
          <ion-icon name="ios-send" slot="icon-only"></ion-icon>
        </ion-button>       
        <ion-button [hidden]="newMsg.length !== 0" expand="block" fill="clear" color="primary" class="msg-btn" (click)="openImagePicker()">          
            <ion-icon name="camera"  slot="icon-only"></ion-icon>
        </ion-button>           
      </ion-col>    
    </ion-row>
  </ion-toolbar>
</ion-footer>