<ion-header translucent="true" no-border >
  <ion-toolbar class="header-bg">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="chat$ | async as chat" >
      {{ chat.id }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="message-bg" [scrollEvents]="true" > 
  <!-- <div class="ion-text-center" [hidden]="SeeMore" >{{Scroll_Message}} </div> -->
  <ion-infinite-scroll threshold="10px"  (ionInfinite)="loadData($event)"  position="top">
    <ion-infinite-scroll-content [hidden]="hide_scroll" loading-spinner="crescent">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-grid *ngIf="chat$ | async as chat">
    <ion-row #messages *ngFor="let msg of chat.messages.slice(current_index,current_length); trackBy: trackByCreated">
        <ion-col size="9" *ngIf="msg.user.uid !== currentUser" class="message other-message">   
          <b class="username">{{ msg.user.first_name}} {{ msg.user.last_name }}</b><br>
          <span>{{ msg.content }}</span>
          <div class="time" text-right><br>{{ msg.createdAt | date:'short' }}</div>        
        </ion-col>  
        <ion-col offset="3" size="9" *ngIf="msg.user.uid === currentUser" class="message my-message">
          <b class="username">{{ msg.user.first_name}} {{ msg.user.last_name }}</b><br>
          <span>{{ msg.content }}</span>
          <div class="time" text-right><br>{{ msg.createdAt | date:'short' }}</div>
        </ion-col>  
      </ion-row>                
  </ion-grid>   
</ion-content>
<ion-footer >
  <ion-toolbar color="light">
    <ion-row no-padding align-items-center>
      <ion-col size="10">
        <ion-textarea  *ngIf="chat$ | async as chat"
        autosize class="message-input" maxRows="4"
         (ionFocus)="seen_chat()"
         [(ngModel)]="newMsg" 
         (keydown.enter)="submit(chat.id)"    
          ></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button *ngIf="chat$ | async as chat" expand="block" fill="clear" color="primary" [disabled]="newMsg === ''"  class="msg-btn"
        (click)="submit(chat.id)">
          <ion-icon name="ios-send" slot="icon-only"></ion-icon>
        </ion-button>       
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>