
.message {
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 4px;
  max-width: 90vw;
  white-space: pre-wrap;  
  span{

    margin-right: 10px;
    font-size: 15px;
    
  }
}
.backto{
  font-size:15px
}
.header-bg{
  --background: var( --ion-color-primary);
  color:#ffffff
}

.message-bg{
  // background: url(../../assets/images/chat_bg.jpg);
  --background: url("/assets/images/chat_bg.jpg") ;
  --background-size: cover;  

  // --ion-background-color:var(--ion-color-medium);
}
.imageloading {
  opacity: .5;
  height: 50vh !important;
  max-height:  50vh !important
}
.imageloaded {
  opacity: 1;
  height: 50vh !important;
  max-height:  50vh !important
}
.spinner-loader-class{
  position: absolute;
  left: 45vw;
  bottom: 13vh;
}
.my-message {
  background: #6099ff;
  color:#ffffff;
    
}
 
.other-message {
  background: #fff;
  color: var(--ion-color-dark);
}
 
.time {
  color: #dfdfdf;
  float: right;
  font-size: 10px;
}
.username{
  text-transform: capitalize;
  margin-bottom:5px;
  font-size: 15px;
  // color:#3DBCC3;
 }

.temp_image_css{

  // display: block
}
.sent-img{
  // height: 0vh !important;
  // display: hidden
}
.message-input {
  width: 100%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  background: #fff;
  resize: none;
  padding-left: 10px;
  padding-right: 10px;
}
 
.msg-btn {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}

.image_container{
  ion-skeleton-text {
    height: 30vh;
    width: 50vw;
    object-fit: inherit;
    object-position: inherit;
    // position: absolute;
    visibility: visible;
    opacity : 1
  } 
  ion-img-viewer {
      
    opacity: 0;
    visibility: hidden;
  }
  &.img-loaded {
    // background-color: transparent;
    // border: 0;

    max-width: 50vw !important;
    
    ion-img-viewer {
      
      opacity: 1;
      visibility: visible;
    }

    ion-skeleton-text {
      display: none;
      visibility: hidden;
    }
  }
}
