<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Admin Announcement
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input [(ngModel)]="message_body.title" placeholder="WEDDING ANNOUNCEMENT"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">body</ion-label>
    <ion-textarea
     [(ngModel)]="message_body.body"
     maxRows="8"
     (keydown.enter)="AnnouncementConfirm()"
     placeholder="ANNOUNCEMENT MESSAGE"
     ></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button expand="full" fill="clear" color="light" (click)="AnnouncementConfirm()">
      <ion-icon name="megaphone" slot="start"></ion-icon>
      Send Notification
    </ion-button>
  </ion-toolbar>
</ion-footer>