<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="dark" (click)="this.homeMenu.openModal()">
              <ion-icon name="menu"></ion-icon>
          </ion-button>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Getting There</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>     
    <ion-card-header>
      <ion-card-title  class="ion-text-center">Flying to Queenstown</ion-card-title>  
      <img src="../../assets/images/airport.png" class="img-container" />
    </ion-card-header>
    <ion-card-content>
        <div class="ion-text-center">It's easy to get there with daily direct flights from around New Zealand and Australia and great road connections to major New Zealand highways.
        Check this Flights Map for more information </div><br>
        <ion-button expand="block" (click)="openMap()">VIEW FLIGHT MAPS</ion-button>

    </ion-card-content>
  </ion-card>  
</ion-content>
