<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button  class="pre-wedding-menu-button" color="dark" (click)="this.homeMenu.openModal()">
              <ion-icon name="menu"></ion-icon>
          </ion-button>
          <ion-badge (click)="sharedComps.openMenu()" *ngIf="this.annServe.RsvpNotifCount>=1" slot="start" class="pulse pulse-on-button" color="danger">{{this.annServe.RsvpNotifCount}}</ion-badge>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Getting There</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content>
  <ion-card>     
    <ion-card-header>
      <ion-card-title  class="ion-text-center">Flying to Queenstown</ion-card-title>  
      <img [src]="gInfo.general_info.getting_there.image_path" class="img-container" />
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
        <h2 class="ion-text-justify"><b>Flights from Manila</b></h2>
        There are no direct flights from Manila to Queenstown, however Philippine Airlines has non-stop
        flights to Auckland, New Zealand that flies three times a week and leaves at night and lands at 13:00 the following day. 
        Total flight time from Manila to Auckland is about 9h45m. 
        <br><br>
          <a href='https://www.philippineairlines.com'> www.philippineairlines.com</a> 
        <br><br>
        A separate domestic flight via Air New Zealand will then have to be taken to Queenstown that departs at 17:20 and arrives Queenstown
        at 19:15 (please do check Air New Zealand’s website for any changes to their flight times). Total flight time from Auckland to Queenstown is 1h55m. 
        <a href='https://www.airnewzealand.co.nz/'> www.airnewzealand.co.nz/</a> <br>
        Alternatively, Qantas and Singapore Airlines also flies to Queenstown via other Asian countries. 
        <br><br>
        <h2 class="ion-text-justify"><b>Flights from the US and Canada </b></h2>
            Air New Zealand is the best airline to take if you’re travelling from North America. 
            <br><br>
            Los Angles (LAX), San Francisco (SFO) and Vancouver (YVR) are well connected to Queenstown via Air New Zealand with a stopover in Auckland. Total flight time is about 16-17h
            <br><br>
            <a  href='https://www.airnewzealand.co.nz/'>www.airnewzealand.co.nz/</a> 
            <br><br>
            Some useful sites for checking different airlines and prices
            <br><br>
            For those in the US <br><a  href='https://www.skyscanner.com'>www.skyscanner.com </a>  
            <br>
            For those in the Philippines<br> <a  href='https://www.skyscanner.com.ph'>www.skyscanner.com.ph </a>   
        </ion-card-content>
  </ion-card>  
</ion-content>
