.img-container{
    height: 30vh;
    width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    padding-top:10px;
    box-shadow: 0 4px 16px rgba(0,0,0,.12);
  }
.recom-text{
    font-size: 19px;
}
.card-info{
   ion-card-header{
       padding-bottom: 0px !important
   }
   ion-card-content{
    font-size: 14px   
    
      //  padding-top: 0px !important
   }
}
.details-card{
  font-size: 14px   
 
}
.header-custom{
  ion-card-header{
    padding-bottom: 10px !important
}
}
.flights{
  font-size:16px
}