.img-container{
    height: 30vh;
    width: 100vw;
    // -o-object-fit: cover;
    // object-fit: cover;
}
.rental-card{
    min-height: 79vh;

}
.card-info{
    ion-card-header{
        padding-bottom: 0px !important
    }
    ion-card-content{
        font-size:14px
        // padding-top: 0px !important
    }
 }
 .details-card{
   font-size: 14px   
  
 }
 .uber-card{
    margin-bottom: 60px;
 }
 .rentals-title{
    font-size:18px
  }