<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button  class="pre-wedding-menu-button" color="dark" (click)="this.homeMenu.openModal()">
              <ion-icon name="menu"></ion-icon>
          </ion-button>
          <ion-badge (click)="sharedComps.openMenu()" *ngIf="this.annServe.RsvpNotifCount>=1" slot="start" class="pulse pulse-on-button" color="danger">{{this.annServe.RsvpNotifCount}}</ion-badge>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Rentals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides  pager="true" class="rentals">
    <ion-slide >
      <ion-card class="rental-card">     
          <ion-card-header>
            <ion-card-title  class="ion-text-center">Car Rental</ion-card-title>  
            <img src="../../assets/images/car_rental.jpg" class="img-container"/>
          </ion-card-header>
          <ion-card-content>
              <div class="ion-text-center">
                  Most Recommended Car Rental Service<br>
                    <a href='https://www.avis.co.nz/en/locations/nz/queenstown/zqn?utm_source=GMB&utm_medium=organic&utm_campaign=Queenstown-Airport'> 
                    AVIS Queenstown
                    </a> <br>and <br>
                    <a href='https://www.hertz.co.nz/p/car-rentals/new-zealand/queenstown/queenstown-airport?utm_source=google&utm_medium=local&utm_campaign=gmb_listing&utm_content=queenstown%20airport'> 
                    Hertz Queenstown 
                    </a>  <br>  
                    for more information about transport services and rental you can go at 
                    <a href='https://www.queenstownnz.co.nz/plan/services/transport-services/rental-cars/'> 
                    www.queenstownnz.co.nz/plan/services/transport-services/rental-cars
                    </a>        
              </div>
          </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide >
      <ion-card class="rental-card">   
          <ion-card-header>
            <ion-card-title  class="ion-text-center">Ski Rental</ion-card-title>
            <img src="../../assets/images/ski_rental.jpg" class="img-container"/>
          </ion-card-header>
          <ion-card-content>
              <div class="ion-text-center">
                  Hiring Ski & Snowboarding equipment is easy and there's plenty of choice. see more info at <a href='https://www.queenstownnz.co.nz/things-to-do/skiing-and-snowboarding/ski-and-snowboard-hire/'>www.queenstownnz.co.nz/things-to-do/skiing-and-snowboarding/ski-and-snowboard-hire</a>
              </div>
          </ion-card-content>
        </ion-card> 
    </ion-slide>   
  </ion-slides> 
</ion-content>
