.item-card{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.welcome-title{
    font-size:16px
}
.welcome-message{
    font-size: 14px;
}
.intro-title{
    padding-top:0px
}
.img-container{
    height: 50vh;
    width: 100%;
    object-fit:contain
}
.face-image{
    height: 30vh !important; 
    width: 100% !important;
    object-fit:cover
}
.item-header{
    padding-bottom: 0px !important;
}
.item-title{
    font-size: 18px !important;
    font-weight: 550
}
.item-content{
    padding-top: 0px !important;
}
.intro-text{
    padding-top: 0px !important;
    padding-bottom: 3vh  !important;
}
.wed-cast-card{
    margin-top:0px !important;
 

}
.image-holder{
    padding-bottom: 0px !important;
    ion-skeleton-text {
        height: 44vh;
        width: 70vw;
        object-fit: inherit;
        object-position: inherit;
        // position: absolute;
        visibility: visible;
        opacity : 1
    } 
    ion-img {
    
        opacity: 1;
        visibility: hidden;
        // max-width: 50vw !important;
        height: 0vh ;
        
        position: absolute
    }
  
    &.img-loaded {

        ion-img {
            height: 45vh !important;
            object-fit: cover;
            object-position: inherit;
            opacity: 1;
            visibility: visible;
            position: relative
            // height: 100% !important;
            }
        ion-skeleton-text {
        display: none;
        visibility: hidden;
        }
    }
}
.recom-text{
    font-size: 16px !important;
}