<ion-header>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-button  class="pre-wedding-menu-button" color="dark" (click)="sharedComps.openMenu()">
            <ion-icon name="menu"></ion-icon>
          </ion-button>
          <ion-badge (click)="sharedComps.openMenu()" *ngIf="this.annServe.RsvpNotifCount>=1" slot="start" class="pulse pulse-on-button" color="danger">{{this.annServe.RsvpNotifCount}}</ion-badge>
      </ion-buttons>
      <ion-title>
       Wedding Party
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content mode="ios" force-overscroll="false">
    <ion-card mode="ios">
      <ion-card-header >
        <img src="../../assets/images/tommy-ingga.jpg"  class="img-container" />
      </ion-card-header>
      <ion-card-content class="intro-title">
      <div class="ion-text-center welcome-title"><b>{{gTitle}}</b></div><br>
      <div class="ion-text-justify welcome-message">
        {{gMessage}}
      </div>
    
      </ion-card-content>
    </ion-card>
    <div *ngFor="let category of categories;let i = index"  >
      <ion-card class="item-card" id="cat{{i}}" mode="ios">
        <ion-card-header class="item-header"  (click)="expandItem(category,'cat'+i)">  
            <ion-item lines="none">
              <ion-icon slot="end" name="{{category.expanded?'ios-arrow-up':'ios-arrow-down'}}"></ion-icon>
              <ion-card-title class="item-title">{{category.title}}</ion-card-title>
            </ion-item>
        </ion-card-header>
        <ion-card-content class="ion-text-center item-content">
          <app-expandable expandHeight="100vh"  [expanded]="category.expanded" force-overscroll="false">
            <ion-slides pager="true" class="wedcast-pager" force-overscroll="false">
                  <ion-slide *ngFor="let cast of category.casts" >
                      <ion-card class=wed-cast-card mode="ios">
                          <ion-card-header class="image-holder"> 
                            <ion-img class="face-image" [src]="cast.image" (ionImgDidLoad)="imageLoaded($event,true)" > </ion-img>   
                            <ion-skeleton-text animated></ion-skeleton-text>    
                            <br>
                            <ion-card-title  class="ion-text-center recom-text"><div [innerHTML]="cast.name"></div> </ion-card-title>      
                          </ion-card-header> 
                          <ion-card-content  class="ion-text-center intro-text">
                            {{cast.title}}
                        </ion-card-content>
                      </ion-card>  
                  </ion-slide>
            </ion-slides>
          </app-expandable>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
