ion-content{  
    --background: url("/assets/images/messages.jpg");
    --background-repeat: no-repeat !important;
    --background-size: cover;  
    // --ion-background-color:#DEEEEF;
}

ion-list{
    background: none !important;
}