ion-content{  
    --background: url("/assets/images/chat_bg3.jpg");
    --background-repeat: no-repeat !important;
    --background-size: cover;  
    // --ion-background-color:#DEEEEF;
}

.header-bg{
    --background: var( --ion-color-primary);
  color:#ffffff
}
ion-list{
    background: none !important;
}
.items{
    --background: none !important;
}
.item-gc{
    border-bottom: solid 2px #80808029;
}
.badge-style{
    position:absolute;
    right:10px
}
.chat_name{
    font-family: notified-medium;
    font-size: 20px;
    margin-bottom: -10px;
}
.last-chat-time{
    font-size:14px
}
.gcnames{
    margin-top:0px;
    margin-bottom:0px;
    
}
.item-last-chat{
    word-wrap: break-word;    
}