<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button 
        color="dark"
        defaultHref="home"
        text=" "
        icon="arrow-round-back">
        </ion-back-button>
      </ion-buttons>
      <ion-title>
        My Groups
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    <ion-list>
        <div *ngFor="let gc of currentChats">           
            <ion-card (click)="goToChat(gc)">
              <ion-item lines="none">                
                <h2 class="ion-text-center">{{gc}}</h2>  
                <ion-button  slot="end">View Chat</ion-button>
              </ion-item>  
            </ion-card>
        </div>
    </ion-list> 
</ion-content>
