<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button 
        color="dark"
        defaultHref="home"
        text=" "
        icon="arrow-round-back">
        </ion-back-button>
      </ion-buttons>
      <ion-title>
        Messages List
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    <ion-list>
        <div *ngFor="let gc of currentChats">
            <ion-item (click)="goToChat(gc)" ngI>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/iconM.png">
                </ion-avatar>
                <ion-label>
                  <h2>{{gc}}</h2>
                  <h3>Lorem Ipsum</h3>
                  <p></p>
                </ion-label>
            </ion-item>
        </div>
    </ion-list> 
</ion-content>
