<ion-header translucent>
    <ion-toolbar mode="ios">
      <ion-title class="pre-title">WEDDING MENU</ion-title>      
    </ion-toolbar>
  </ion-header>
<ion-content fullscreen >  
    <div class="winter-is-coming">
        <div class="snow snow--near"></div>
        <div class="snow snow--near snow--alt"></div>
        
        <div class="snow snow--mid"></div>
        <div class="snow snow--mid snow--alt"></div>
        
        <div class="snow snow--far"></div>
        <div class="snow snow--far snow--alt"></div>
      <ion-list class="modal-content">       
        <div *ngFor="let p of appPages"  [class]="menuCSS">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" color="primary" (click)="closeModal(p.url)" lines="none">
            <ion-icon slot="start" [name]="p.icon" ></ion-icon>
            <ion-text>
              {{p.title}}
            </ion-text>
          </ion-item>
        </div>
      </ion-list>      

  </div>
</ion-content>
<ion-footer  class="modal-content">
  <ion-toolbar class="tool-bar">
      <ion-item *ngIf=isAdmin (click)="gotoRsvpList()" lines="none">      
          <ion-icon slot="start" color="success"name="checkmark-circle"></ion-icon>
          <ion-text slot="start" color="success" >  
              Admin Notification
          </ion-text>       
          <ion-badge *ngIf="this.annServe.RsvpNotifCount>=1" slot="start" class="pulse" color="danger">{{this.annServe.RsvpNotifCount}}</ion-badge>
      </ion-item>
      <ion-item *ngIf=isAdmin (click)="openBusReservations()" lines="none">      
          <ion-icon slot="start" color="primary"name="bus"></ion-icon>
          <ion-text slot="start" color="primary" >  
              Bus Reservations
          </ion-text>
      </ion-item>
      <ion-item *ngIf=isAdmin (click)="openDietRestrictions()" lines="none">      
          <ion-icon slot="start" color="primary" name="restaurant"></ion-icon>
          <ion-text slot="start" color="primary" >  
              Diet Restrictions
          </ion-text>                 
      </ion-item>
      <!-- <ion-item *ngIf="!isAdmin&&this.authServ.userGuestDetails.extra!==''&&this.authServ.userGuestDetails.extra!=='0'"  lines="none" (click)="plusOnePrompt('Do you want to Change you Plus Guest Count?')">      
            <ion-icon slot="start" color="primary" name="people"></ion-icon>
            <ion-text slot="start" color="primary" >
                Plus Guests : <ion-text> {{this.authServ.userGuestDetails.extra}}</ion-text>
            </ion-text>
      </ion-item> -->   
      <ion-item *ngIf=!isAdmin lines="none" >       

          <ion-icon color="warning" slot="start"  name="bus" 
                    (click)="this.actionSheet.busReservationPropmpt(authServ.userGuestDetails.bus_reservation)" 
                    *ngIf="this.authServ.userGuestDetails.reservation_status === 'pending'">
          </ion-icon>    
          <ion-text 
                    slot="start" 
                    *ngIf="this.authServ.userGuestDetails.reservation_status === 'pending'"
                    (click)="this.actionSheet.busReservationPropmpt(authServ.userGuestDetails.bus_reservation)" 
                    class="bus-seat"
                    color="warning">({{authServ.userGuestDetails.bus_reservation}}) Bus {{authServ.userGuestDetails.bus_reservation==1?'seat':'seats'}}:<ion-text color="warning" > Pending</ion-text>
          </ion-text>   
          <ion-icon 
                   color="success" slot="start" name="bus"
                   (click)="this.actionSheet.busReservationPropmpt(authServ.userGuestDetails.bus_reservation,true)" 
                   *ngIf="this.authServ.userGuestDetails.reservation_status === 'approved'">
            </ion-icon>    
          <ion-text 
                  slot="start"
                  (click)="this.actionSheet.busReservationPropmpt(authServ.userGuestDetails.bus_reservation,true)" 
                  *ngIf="this.authServ.userGuestDetails.reservation_status === 'approved'"
                  class="bus-seat"
                  color="success">({{authServ.userGuestDetails.bus_reservation}}) Bus {{authServ.userGuestDetails.bus_reservation==1?'seat':'seats'}}: <ion-text color="success" >Approved </ion-text>
          </ion-text>    
      </ion-item>
      <ion-item *ngIf=!isAdmin (click)="changeDecision()" lines="none" >        
          <ion-icon color="primary" slot="start" name="mail"></ion-icon>    
          <ion-text slot="start"  color="primary" *ngIf="this.authServ.userGuestDetails.will_come;else notAttending">
                RSVP: 
                <ion-text color="success" >
                Accepted
                </ion-text>
          </ion-text>
          <ng-template #notAttending>
              <ion-text slot="start" color="primary">
                RSVP: 
                <ion-text color="danger" >
                Declined
                </ion-text>
              </ion-text>           
          </ng-template>                  
      </ion-item>   
    <ion-item (click)="changePassword()" lines="none" >      
          <ion-icon slot="start" color="dark" name="unlock"></ion-icon>
          <ion-text slot="start" color="dark" >
              Reset Password
          </ion-text>
      </ion-item>
      <ion-item (click)="logout()" lines="none" >      
          <ion-icon slot="start" color="danger" name="arrow-back"></ion-icon>
          <ion-text slot="start" color="danger" >
              Log-Out
          </ion-text>
      </ion-item>

      <ion-item (click)="closeModal" lines="none">   
        <ion-icon slot="start"name="contact" [style.color]=userColor ></ion-icon>
          <ion-text slot="start" [style.color]=userColor>          
              {{this.authServ.userGuestDetails["first_name"]}} {{this.authServ.userGuestDetails["last_name"]}}
        </ion-text>
      </ion-item>    
  </ion-toolbar>
</ion-footer>