<ion-header translucent>
    <ion-toolbar mode="ios">
      <ion-title class="pre-title">PRE-WEDDING MENU</ion-title>      
    </ion-toolbar>
  </ion-header>
<ion-content fullscreen >  
    <div class="winter-is-coming">
        <div class="snow snow--near"></div>
        <div class="snow snow--near snow--alt"></div>
        
        <div class="snow snow--mid"></div>
        <div class="snow snow--mid snow--alt"></div>
        
        <div class="snow snow--far"></div>
        <div class="snow snow--far snow--alt"></div>
      <ion-list class="modal-content">       
        <div *ngFor="let p of appPages"  class="side-menu">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" color="primary" (click)="closeModal()" lines="none">
            <ion-icon slot="start" [name]="p.icon" ></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </div>
      </ion-list>      

  </div>
</ion-content>
<ion-footer  class="modal-content">
  <ion-toolbar>
      <ion-item *ngIf=isAdmin (click)="gotoRsvpList()" lines="none">      
          <ion-icon slot="start" color="success"name="checkmark-circle"></ion-icon>
          <ion-label slot="start" color="success" >  
              RSVP Notifs
          </ion-label>       
          <ion-badge *ngIf="this.annServe.RsvpNotifCount>=1" slot="start" class="pulse" color="danger">{{this.annServe.RsvpNotifCount}}</ion-badge>
        </ion-item>
      <ion-item *ngIf="!isAdmin&&this.authServ.userGuestDetails.extra!==''&&this.authServ.userGuestDetails.extra!=='0'"  lines="none" (click)="plusOnePrompt('Do you want to Change you Plus Guest Count?')">      
            <ion-icon slot="start" color="primary" name="people"></ion-icon>
            <ion-label slot="start" color="primary" >
                Plus Guests : <ion-text> {{this.authServ.userGuestDetails.extra}}</ion-text>
            </ion-label>
      </ion-item>
      <ion-item *ngIf=!isAdmin (click)="changeDecision()" lines="none" >        
          <ion-icon color="primary" slot="start" name="mail"></ion-icon>    
          <ion-label slot="start"  color="primary" *ngIf="this.authServ.userGuestDetails.will_come;else notAttending">
                RSVP: 
                <ion-text color="success" >
                Accepted
                </ion-text>
          </ion-label>
          <ng-template #notAttending>
              <ion-label slot="start" color="primary">
                RSVP: 
                <ion-text color="danger" >
                Declined
                </ion-text>
              </ion-label>           
          </ng-template>                  
      </ion-item>   
      <ion-item (click)="logout()" lines="none" >      
          <ion-icon slot="start" color="danger" name="arrow-back"></ion-icon>
          <ion-label slot="start" color="danger" >
              Log-Out
          </ion-label>
      </ion-item>
      <ion-item (click)="closeModal" lines="none">   
      <ion-icon slot="start"name="contact" [style.color]=userColor ></ion-icon>
          <ion-label slot="start" [style.color]=userColor>          
            {{currentUser}}
        </ion-label>
      </ion-item>
  
  </ion-toolbar>
</ion-footer>