<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <h1 class="h1-text">WEDDING</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card  (click)="reRoute('ceremony')" >
      <img class="card-image" src="/assets/images/activities.jpg"/>
      <div class="card-title">WEDDING SCHEDULE<br>
        <ion-button color="primary" class="home_buttons">SEE MORE</ion-button>
      </div>
  </ion-card>
  <ion-card  (click)="reRoute('gallery')" >
      <img class="card-image" src="/assets/images/activities.jpg"/>
      <div class="card-title">PHOTOS<br>
        <ion-button color="primary" class="home_buttons">LIVE FEED</ion-button>
      </div>
  </ion-card>
  <!-- <ion-card (click)="reRoute('weather')">    
      <img class="card-image" src="/assets/images/weather.jpg"/>
      <div class="card-title">          
          <ion-row class="home-weather">
            <ion-col>
                <ion-row>
                  <ion-icon class="home-label-icon" name="partly-sunny"></ion-icon>
                </ion-row>
                <ion-row>
                  <ion-label class="home-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WEATHER</ion-label>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row>
                  <ion-label class="home-title">18 &deg;</ion-label>
                </ion-row>
                <ion-row>
                  <ion-label class="home-label">TEMPERATURE</ion-label>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row>
                  <ion-label class="home-title">55</ion-label>
                  </ion-row>
                  <ion-row>
                    <ion-label class="home-label">CM DEPTH</ion-label>
                  </ion-row>
            </ion-col>
          </ion-row>       
        <ion-button color="primary" class="home_buttons">SNOW REPORT</ion-button>
      </div>
      
  </ion-card> -->
  <ion-card (click)="reRoute('weather')">    
      <img class="card-image" src="/assets/images/weather.jpg"/>
      <div class="card-title">WEATHER<br>
        <ion-button color="primary" class="home_buttons">SNOW REPORT</ion-button>
      </div>
  </ion-card>
  <ion-card (click)="reRoute('home-tab')">    
      <img class="card-image" src="/assets/images/home.jpg"/>
      <div class="card-title">SEE & DO<br>
        <ion-button color="primary" class="home_buttons">ACTIVITIES</ion-button>
      </div>
  </ion-card>  
  <ion-card  (click)="reRouteActivity('Dining')" >
    <img class="card-image" src="/assets/images/dining2.jpg"/>
    <div class="card-title">DINING<br>
      <ion-button color="primary" class="home_buttons">VENUES</ion-button>
    </div>
  </ion-card>
</ion-content>
<!-- <app-footer>

</app-footer> -->

<!-- <ion-header>
  <img src="assets/logo.svg" />
</ion-header>

<ion-content>

<video autoplay loop src="assets/video/paradise.mp4"></video>

<ion-slides autoplay="4000" pager loop>
    <ion-slide>
        <h4>Welcome</h4>
        <p>Let us take care of you for the weekend</p>
    </ion-slide>
    <ion-slide>
        <h4>Escape</h4>
        <p>Let us take care of you for the weekend</p>
    </ion-slide>
    <ion-slide>
        <h4>Luxury</h4>
        <p>Let us take care of you for the weekend</p>
    </ion-slide>
</ion-slides>

</ion-content>

<ion-footer>
<ion-grid>
    <ion-row>
        <ion-col col-2><button ion-button icon-only color="secondary" full><ion-icon name="call"></ion-icon></button></ion-col>
        <ion-col col-10><button ion-button color="light" full>Book Online</button></ion-col>
    </ion-row>
</ion-grid>
</ion-footer> -->