<!-- <div> -->
<ion-header *ngIf=!forRsvp>
  <ion-toolbar  mode="ios">
      <ion-title class="title-css">
          <h1 class="h1-text">Tommy & Ingga's Wedding</h1>
      </ion-title>
    <ion-buttons slot="start">
      <ion-button  class="pre-wedding-menu-button" color="dark" (click)="openModal()">
          <ion-icon name="menu"></ion-icon>
      </ion-button>     
      <ion-badge (click)="openModal()" *ngIf="this.annServe.RsvpNotifCount>=1" slot="start" class="pulse pulse-on-button" color="danger">{{this.annServe.RsvpNotifCount}}</ion-badge>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]=scrollDepthTriggered>
  <ion-fab-button class="bounce-2" (click)=scrollToBottom()>
    <ion-icon name="ios-arrow-down"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]=!scrollDepthTriggered>
  <ion-fab-button class="bounce-2" (click)=scrollToTop()>
    <ion-icon name="ios-arrow-up"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content class="card-background-page" *ngIf=!forRsvp forceOverscroll=false [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-card (click)="reRoute('weather')">   
      <img class="card-image" src="/assets/images/homepage/q_weather.jpg"/>
      <div class="card-title weather">         
          <div class="country ion-text-center">QUEENSTOWN WEATHER</div>           
          <ion-row class="home-weather" *ngIf=weather>
            <ion-col>        
                  <!-- <ion-icon class="home-label-icon" name="partly-sunny"></ion-icon> -->
                  <ion-label > <img [src]="weather.weather" class="home-label-icon"></ion-label>
                  <ion-label class="home-label">WEATHER</ion-label>         
            </ion-col>
            <ion-col>      
                  <ion-label class="home-title">{{weather.temperature}} &deg;</ion-label>            
                  <ion-label class="home-label">TEMPERATURE</ion-label>
            </ion-col>                       
          </ion-row>     
        <ion-button color="light" class="home_buttons custom-margin">SNOW REPORT</ion-button>
      </div>      
  </ion-card> 
  <ion-card  (click)="reRouteActivity('Itinerary')" >
      <img class="card-image" src="/assets/images/homepage/wed_image.jpg"/>
      <div class="card-title">WEDDING ITINERARY<br>
        <ion-button color="light" class="home_buttons">SEE MORE</ion-button>
      </div>
  </ion-card>
  <ion-card  (click)="reRoute('gallery')" >
      <img class="card-image" src="/assets/images/homepage/photos.jpg"/>
      <div class="card-title">PHOTOS<br>
        <ion-button color="light" class="home_buttons">LIVE FEED</ion-button>
      </div>
  </ion-card> 
  <ion-card (click)="reRoute('accomodations')">    
      <img class="card-image" src="/assets/images/accomodation-lux.jpg"/>
      <div class="card-title">ACCOMMODATION<br>
        <ion-button color="light" class="home_buttons">WHERE TO STAY</ion-button>
      </div>
  </ion-card>
  <ion-card  (click)="reRouteActivity('Dining')" >
    <img class="card-image" src="/assets/images/dining2.jpg"/>
    <div class="card-title">FOOD & DRINKS<br>
      <ion-button color="light" class="home_buttons">WHERE TO EAT</ion-button>
    </div>
  </ion-card>
  <ion-card (click)="reRoute('home-tab')">    
      <img class="card-image" src="/assets/images/see_and_do.jpg"/>
      <div class="card-title">ACTIVITIES<br>
        <ion-button color="light" class="home_buttons">WHAT TO DO</ion-button>
      </div>
  </ion-card>
</ion-content>
<!-- </div> -->