<!-- <div> -->
<ion-header *ngIf=!forRsvp>
  <ion-toolbar  mode="ios">
      <ion-title>
          <h1 class="h1-text">WEDDING</h1>
      </ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="openModal()">
          <ion-icon name="menu"></ion-icon>
      </ion-button>     
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]=scrollDepthTriggered>
  <ion-fab-button class="bounce-2" (click)=scrollToBottom()>
    <ion-icon name="ios-arrow-down"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content class="card-background-page" *ngIf=!forRsvp forceOverscroll=false [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-card  (click)="reRoute('ceremony')" >
      <img class="card-image" src="/assets/images/activities.jpg"/>
      <div class="card-title">WEDDING SCHEDULE<br>
        <ion-button color="primary" class="home_buttons">SEE MORE</ion-button>
      </div>
  </ion-card>
  <ion-card (click)="reRoute('weather')">   
      <img class="card-image" src="/assets/images/weather.jpg"/>
      <div class="card-title weather">         
          <div class="country ion-text-center">QUEENSTOWN</div>           
          <ion-row class="home-weather">
            <ion-col>        
                  <ion-icon class="home-label-icon" name="partly-sunny"></ion-icon>
                  <ion-label class="home-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WEATHER</ion-label>         
            </ion-col>
            <ion-col>      
                  <ion-label class="home-title">18 &deg;</ion-label>            
                  <ion-label class="home-label">TEMPERATURE</ion-label>              
            </ion-col>                       
          </ion-row>     
        <ion-button color="primary" class="home_buttons">SNOW REPORT</ion-button>
      </div>      
  </ion-card> 
  <ion-card  (click)="reRoute('gallery')" >
      <img class="card-image" src="/assets/images/events.jpg"/>
      <div class="card-title">PHOTOS<br>
        <ion-button color="primary" class="home_buttons">LIVE FEED</ion-button>
      </div>
  </ion-card>
  <ion-card (click)="reRoute('home-tab')">    
      <img class="card-image" src="/assets/images/see_and_do.jpg"/>
      <div class="card-title">SEE & DO<br>
        <ion-button color="primary" class="home_buttons">WHAT TO DO</ion-button>
      </div>
  </ion-card>  
  <ion-card  (click)="reRouteActivity('Dining')" >
    <img class="card-image" src="/assets/images/dining2.jpg"/>
    <div class="card-title">DINING<br>
      <ion-button color="primary" class="home_buttons">WHERE TO EAT</ion-button>
    </div>
  </ion-card>
</ion-content>
<!-- </div> -->