<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button class="pre-wedding-menu-button" color="dark" (click)="this.homeMenu.openModal()">
            <ion-icon name="menu"></ion-icon>
        </ion-button>
        <ion-badge (click)="this.homeMenu.openModal()" *ngIf="this.annServe.RsvpNotifCount>=1" slot="start" class="pulse pulse-on-button" color="danger">{{this.annServe.RsvpNotifCount}}</ion-badge>
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>VISAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card >     
    <ion-card-header >
      <ion-card-title  class="ion-text-center"></ion-card-title>
      <img class="img-container" [src]="gInfo.general_info.visas.image_path" />
    </ion-card-header>
    <ion-card-content class="ion-text-left">
      <h2 class="ion-text-justify"><b>FILIPINO CITIZEN</b></h2>
          Please note that as of WedVite’s launch date, Philippine passport holders are required to apply for a visa to enter New Zealand.
          <a href='https://www.immigration.govt.nz/contact/offices/philippines'> click here </a> 
      <br><br>
      <h2 class="ion-text-left"><b>NEW ZEALAND ELECTRONIC TRAVEL AUTHORITY (NZETA)</b></h2>
          As of 1 October 2019 the New Zealand government has implemented an electronic visa waiver for 
          eligible passport holders. Please note that as of 1 October 2019 it is now obligatory for citizens of all 60 visa waiver countries
          (such as US, Canada, UK, Malaysia, Italy, Singapore, Japan, Spain and others) to apply for the NZeTA. To learn more about NZeTA you may visit
          <a  href='https://www.immigration.govt.nz/new-zealand-visas/apply-for-a-visa/about-visa/nzeta'> click here</a> 
          <br><br>
          To apply for the NZeTA you may visit  <a  href='https://nzeta.immigration.govt.nz/'>nzeta.immigration.govt.nz/</a> 
          <br><br>
          If you are unsure whether your passport requires a visa or simply an NZeTA please visit New Zealand immigration’s passport wizard
          <a  href='https://www.immigration.govt.nz/new-zealand-visas/options/visit/explore-visitor-visa-options'> click here </a>
      </ion-card-content>
  </ion-card>  
</ion-content>
